<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--ASE_LOOP-->
  <configSections>
    <section name="ValueDefs" type="com.mirle.ibg3k0.bcf.ConfigHandler.ValueDefConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere" />
    <section name="EQMapToValueEvent" type="com.mirle.ibg3k0.bcf.ConfigHandler.EQMapToValueEventConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere" />
    <section name="ValueEventRelativeDefs" type="com.mirle.ibg3k0.bcf.ConfigHandler.ValueEventRelativeConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere" />
    <section name="EquipmentDefs" type="com.mirle.ibg3k0.bcf.ConfigHandler.EquipmentConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere" />
    <section name="NodeFlowRelations" type="com.mirle.ibg3k0.bcf.ConfigHandler.NodeFlowRelConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere" />
    <section name="AddressBaseDefs" type="com.mirle.ibg3k0.bcf.ConfigHandler.BaseAddressConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere" />
    <section name="TimerActionDefs" type="com.mirle.ibg3k0.bcf.ConfigHandler.TimerActionConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" allowLocation="true" allowDefinition="Everywhere" />

    <section name="MPLCConnectionSetting" type="com.mirle.ibg3k0.bcf.ConfigHandler.MPLCConnectionConfigHandler, BlockControlFramework" allowLocation="true" allowDefinition="Everywhere" />
    <section name="SECSConnectionSetting" type="com.mirle.ibg3k0.bcf.ConfigHandler.SECSConnectionConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere" />
    <section name="TcpIpConnectionSetting" type="com.mirle.ibg3k0.bcf.ConfigHandler.TcpIpConnectionConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere" />

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <section name="DataCollectionSetting" type="com.mirle.ibg3k0.sc.ConfigHandler.DataCollectionConfigHandler,ScriptControl" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="com.mirle.ibg3k0.bc.winform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>

  </configSections>

  <TimerActionDefs>
    <!-- name為該TimerAction的名稱，intervalMilliSec為該Timer的間隔(單位：毫秒)，timerActionClass為執行的TimerAction類別
      其namespace必須是『com.mirle.ibg3k0.smc.data』。
    -->
    <TimerAction name="IdleVehicleTimerAction" intervalMilliSec="5000" timerActionClass="com.mirle.ibg3k0.sc.Data.TimerAction.IdleVehicleTimerAction, ScriptControl" systemAction="false" />
    <TimerAction name="TransferCommandTimerAction" intervalMilliSec="5000" timerActionClass="com.mirle.ibg3k0.sc.Data.TimerAction.TransferCommandTimerAction, ScriptControl" systemAction="false" />
    <TimerAction name="TaskCommandTimerAction" intervalMilliSec="2000" timerActionClass="com.mirle.ibg3k0.sc.Data.TimerAction.TaskCommandTimerAction, ScriptControl" systemAction="false" />
    <TimerAction name="ZoneBlockCheck" intervalMilliSec="1000" timerActionClass="com.mirle.ibg3k0.sc.Data.TimerAction.ZoneBlockCheck, ScriptControl" systemAction="false" />
    <TimerAction name="ZabbixDataCollectionTimerAction" intervalMilliSec="5000" timerActionClass="com.mirle.ibg3k0.sc.Data.TimerAction.ZabbixDataCollectionTimerAction, ScriptControl" systemAction="false" />
    <TimerAction name="FailOverTimerAction" intervalMilliSec="2000" timerActionClass="com.mirle.ibg3k0.sc.Data.TimerAction.FailOverTimerAction, ScriptControl" systemAction="false" />
    <TimerAction name="RandomGeneratesCommandTimerAction" intervalMilliSec="1000" timerActionClass="com.mirle.ibg3k0.sc.Data.TimerAction.RandomGeneratesCommandTimerAction, ScriptControl" systemAction="false" />
    <TimerAction name="LinkStatusCheck" intervalMilliSec="5000" timerActionClass="com.mirle.ibg3k0.sc.Data.TimerAction.LinkStatusCheck, ScriptControl" systemAction="false" />
    <TimerAction name="OHxCAliveTimer" intervalMilliSec="2000" timerActionClass="com.mirle.ibg3k0.sc.Data.TimerAction.OHxCAliveTimer, ScriptControl" systemAction="false" />
    <TimerAction name="OHCVAliveTimer" intervalMilliSec="2000" timerActionClass="com.mirle.ibg3k0.sc.Data.TimerAction.OHCVAliveTimer, ScriptControl" systemAction="false" />
    <TimerAction name="PLCAliveTimer" intervalMilliSec="5000" timerActionClass="com.mirle.ibg3k0.sc.Data.TimerAction.PLCAliveTimer, ScriptControl" systemAction="false" />
    <TimerAction name="EmptyBoxHandlerTimer" intervalMilliSec="30000" timerActionClass="com.mirle.ibg3k0.sc.Data.TimerAction.EmptyBoxHandlerTimer, ScriptControl" systemAction="false" />
  </TimerActionDefs>

  <nlog configSource="Config\NLog_simple.config" />
  <EquipmentDefs configSource="Config\ASE_LOOP\EquipmentDefs_simple.config" />
  <AddressBaseDefs configSource="Config\ASE_LOOP\AddressBaseDefs_simple.config" />
  <EQMapToValueEvent configSource="Config\ASE_LOOP\EQMapToValueEvent.config" />
  <ValueDefs configSource="Config\ValueDefs_simple.config" />
  <ValueEventRelativeDefs configSource="Config\ValueEventRelativeDefs.config" />

  <appSettings configSource="Config\ASE_LOOP\appSettings_simple.config"/>

  <MPLCConnectionSetting configSource="Config\ASE_LOOP\MPLCConnectionSetting.config" />
  <SECSConnectionSetting configSource="Config\ASE_LOOP\SECSConnectionSetting.config" />
  <TcpIpConnectionSetting configSource="Config\ASE_LOOP\TcpIpConnectionSetting.config" />
  <DataCollectionSetting configSource="Config\ASE_LOOP\DataCollectionSetting.config" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="OHTC_DevEntities" connectionString="metadata=res://*/OHTCContext.csdl|res://*/OHTCContext.ssdl|res://*/OHTCContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db.ohxc.mirle.com.tw;initial catalog=OHBC_ASE_K21_LOOP;user id=sa;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <queryCache size = '1000' cleaningIntervalInSeconds='1'/>
  </entityFramework>
  <system.transactions>
    <defaultSettings timeout="01:00:00" />
  </system.transactions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <com.mirle.ibg3k0.bc.winform.Properties.Settings>
      <setting name="UICulture" serializeAs="String">
        <value>en-US</value>
      </setting>
    </com.mirle.ibg3k0.bc.winform.Properties.Settings>
  </userSettings>

</configuration>