<EQMapToValueEvent>
  <EQObject id="B7_OHBLOOP_T01" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB100T01_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB100T01_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB100T01_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB100T01_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

  <EQObject id="B7_OHBLOOP_T03" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB100T03_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB100T03_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB100T03_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB100T03_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

  <EQObject id="B7_OHBLOOP_T05" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB100T05_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB100T05_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB100T05_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB100T05_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

  <EQObject id="B7_OHBLOOP_T06" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB100T06_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB100T06_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB100T06_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB100T06_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

  <EQObject id="B7_OHBLOOP_T07" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB100T07_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB100T07_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB100T07_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB100T07_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

  <EQObject id="B7_OHBLOOP_T08" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB100T08_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB100T08_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB100T08_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB100T08_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

    <EQObject id="B7_OHBLOOP_T09" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB100T09_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB100T09_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB100T09_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB100T09_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>


  <EQObject id="B7_OHBLOOP_T0A" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB100T0A_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB100T0A_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB100T0A_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB100T0A_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  
  <EQObject id="B7_OHBLOOP_T04" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB100T04_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB100T04_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB100T04_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB100T04_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  
  <EQObject id="B7_OHBLOOP_T02" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="B7_OHBLOOP_T02_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="B7_OHBLOOP_T02_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="B7_OHBLOOP_T02_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="B7_OHBLOOP_T02_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

  <EQObject id="B7_OHBLOOP_A04" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHBLOOP_A01_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHBLOOP_A01_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHBLOOP_A01_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHBLOOP_A01_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

  <EQObject id="B7_OHBLOOP_A03" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHBLOOP_A02_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHBLOOP_A02_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHBLOOP_A02_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHBLOOP_A02_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

  <EQObject id="B7_OHBLOOP_A02" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHBLOOP_A03_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHBLOOP_A03_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHBLOOP_A03_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHBLOOP_A03_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

  <EQObject id="B7_OHBLOOP_A01" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHBLOOP_A04_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHBLOOP_A04_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHBLOOP_A04_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHBLOOP_A04_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

  <!--System info-->
  <EQObject id="MASTER_PLC" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="MASTER_PLC_SYSTEM_INFO" relativeName="SET_SYSTEM_INFO_TO_MASTER"></ValueEvent>
  </EQObject>

  <EQObject id="MTL" cate="Equipment" MPLCName="MTL" isValueEventTrigger="Y">
    <ValueEvent baseName="MTL_READ" relativeName="MTL_TO_OHBC"></ValueEvent>
  </EQObject>


</EQMapToValueEvent>