USE [OHBC_ASE_K21_LOOP]
GO
/****** Object:  Table [dbo].[ACMD_MCS]    Script Date: 2020/6/4 20:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACMD_MCS](
	[CMD_ID] [varchar](64) NOT NULL,
	[CARRIER_ID] [varchar](64) NULL,
	[TRANSFERSTATE] [int] NOT NULL,
	[COMMANDSTATE] [int] NOT NULL,
	[HOSTSOURCE] [varchar](64) NULL,
	[RelayStation] [varchar](64) NULL,
	[HOSTDESTINATION] [varchar](64) NOT NULL,
	[PRIORITY] [int] NOT NULL,
	[CHECKCODE] [char](2) NOT NULL,
	[PAUSEFLAG] [char](1) NOT NULL,
	[CMD_INSER_TIME] [datetime2](7) NOT NULL,
	[CMD_START_TIME] [datetime2](7) NULL,
	[CMD_FINISH_TIME] [datetime2](7) NULL,
	[TIME_PRIORITY] [int] NOT NULL,
	[PORT_PRIORITY] [int] NOT NULL,
	[REPLACE] [int] NOT NULL,
	[PRIORITY_SUM] [int] NOT NULL,
	[BOX_ID] [varchar](64) NULL,
	[CARRIER_LOC] [varchar](64) NULL,
	[LOT_ID] [varchar](64) NOT NULL,
	[CARRIER_ID_ON_CRANE] [varchar](64) NULL,
	[CMDTYPE] [varchar](64) NULL,
	[CRANE] [varchar](64) NOT NULL,
 CONSTRAINT [PK_ACMD_MCS] PRIMARY KEY CLUSTERED 
(
	[CMD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACMD_MCS] ADD  CONSTRAINT [DF_ACMD_MCS_REPLACE_1]  DEFAULT ((0)) FOR [REPLACE]
GO
ALTER TABLE [dbo].[ACMD_MCS] ADD  CONSTRAINT [DF_ACMD_MCS_CMDTYPE]  DEFAULT ((0)) FOR [CMDTYPE]
GO
