<EQMapToValueEvent>

  <EQObject id="B7_OHBLOOP_T01" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB100T01_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB100T01_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB100T01_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB100T01_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLOOP_T02" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB100T02_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB100T02_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB100T02_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB100T02_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE1_A01" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB200A01_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB200A01_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB200A01_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB200A01_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE1_A02" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB200A02_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB200A02_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB200A02_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB200A02_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE1_A03" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB200A03_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB200A03_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB200A03_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB200A03_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE1_A04" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB200A0F_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB200A0F_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB200A0F_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB200A0F_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE1_A05" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB200A05_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB200A05_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB200A05_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB200A05_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE1_T01" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB200T01_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB200T01_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB200T01_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB200T01_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

  <!--System info-->
  <EQObject id="MASTER_PLC" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="MASTER_PLC_SYSTEM_INFO" relativeName="SET_SYSTEM_INFO_TO_MASTER"></ValueEvent>
  </EQObject>
  
  <EQObject id="MTL" cate="Equipment" MPLCName="MTL" isValueEventTrigger="Y">
    <ValueEvent baseName="MTL_READ" relativeName="MTL_TO_OHBC"></ValueEvent>
  </EQObject>

  <EQObject id="HID" cate="Equipment" MPLCName="HID" isValueEventTrigger="Y">
    <ValueEvent baseName="HID_TO_OHXC_DATA_AREA" relativeName="HID_TO_OHXC"></ValueEvent>
    <ValueEvent baseName="HID_TO_OHXC_DATA_AREA_B" relativeName="HID_TO_OHXC_AREA_B"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_HID_DATA_AREA" relativeName="OHXC_TO_HID"></ValueEvent>
  </EQObject>

</EQMapToValueEvent>