<?xml version="1.0" encoding="utf-8" ?>
<!-- Connection Type: 1 = Mitsubishi, 2 = Mirle, 3 = ADAM-6050-->
<!--
ReadIntervalMilliSec 讀取速度
IdRedix 進制
BufferLength Array大小
Type 區塊種類  (D W F B)
-->

<MPLCConnectionSetting>
  <Connection Name="OHBC" Type="4" IP="192.168.0.11" Port="7000" ReadIntervalMilliSec="200" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
           AliveMPLCDeviceBlock="W41">
    <Device Type="D" BufferLength="80000" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="20000" EndBlock="30000"></ReadRange>
    </Device>
  </Connection>
  <!--
  <Connection Name="OHBC" Type="1" LogicalStationNumber ="1" ReadIntervalMilliSec="2000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
 AliveMPLCDeviceBlock="W41">
    <Device Type="D" BufferLength="80000" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="20000" EndBlock="30000"></ReadRange>
    </Device>
    <Device Type="B" BufferLength="10000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0000" EndBlock="11FF"></ReadRange>
    </Device>
  </Connection>
 -->


  <Connection Name="MTL" Type="3" IP="192.168.0.102" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
            AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>

  <Connection Name="HID" Type="2" IP="192.168.0.101" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                AliveMPLCDeviceBlock="40320">
    <Device Type="4" BufferLength="9999" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0320" EndBlock="0354"></ReadRange>
    </Device>
    <Device Type="0" BufferLength="1000" IdRadix="10" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="864" EndBlock="876"></ReadRange>
    </Device>
  </Connection>
</MPLCConnectionSetting>