<AddressBaseDefs>
  <!--<AddressBase baseName="EAPWrite" device="W" baseAddress="0000"></AddressBase>-->
  <!--AddressBase baseName="EAP_W" device="W" baseAddress="0000">
  </AddressBase-->
  <!--**************************************************************************************************************************-->
  <!--***********************************************************BC to Read***********************************************************-->
  <!--**************************************************************************************************************************-->


  <!--________________________OHBC_PORT______________________-->
  <!--   <AddressBase baseName="OHB100T09_READ" device="D" baseAddress="26401"/>
  <AddressBase baseName="OHB100T09_WRITE" device="D" baseAddress="25061"/>
  <AddressBase baseName="OHB100T09_RFID" device="D" baseAddress="25800"/>
  <AddressBase baseName="OHB100T09_BOX_CST_ID" device="D" baseAddress="28000"/> -->

  <AddressBase baseName="OHB100T03_READ" device="D" baseAddress="26513"/>
  <AddressBase baseName="OHB100T03_WRITE" device="D" baseAddress="25065"/>
  <AddressBase baseName="OHB100T03_RFID" device="D" baseAddress="25804"/>
  <AddressBase baseName="OHB100T03_BOX_CST_ID" device="D" baseAddress="29008"/>

  <AddressBase baseName="OHB100T04_READ" device="D" baseAddress="27409"/>
  <AddressBase baseName="OHB100T04_WRITE" device="D" baseAddress="25097"/>
  <AddressBase baseName="OHB100T04_RFID" device="D" baseAddress="25836"/>
  <AddressBase baseName="OHB100T04_BOX_CST_ID" device="D" baseAddress="29072"/>

  <!--<AddressBase baseName="OHBf00A01_READ" device="D" baseAddress="26625"/>
  <AddressBase baseName="OHBf00A01_WRITE" device="D" baseAddress="25069"/>
  <AddressBase baseName="OHBf00A01_RFID" device="D" baseAddress="25808"/>
  <AddressBase baseName="OHBf00A01_BOX_CST_ID" device="D" baseAddress="28016"/>

  <AddressBase baseName="OHBf00A02_READ" device="D" baseAddress="26737"/>
  <AddressBase baseName="OHBf00A02_WRITE" device="D" baseAddress="25073"/>
  <AddressBase baseName="OHBf00A02_RFID" device="D" baseAddress="25812"/>
  <AddressBase baseName="OHBf00A02_BOX_CST_ID" device="D" baseAddress="28024"/>-->

  <AddressBase baseName="OHB300A05_READ" device="D" baseAddress="26625"/>
  <AddressBase baseName="OHB300A05_WRITE" device="D" baseAddress="25069"/>
  <AddressBase baseName="OHB300A05_RFID" device="D" baseAddress="25808"/>
  <AddressBase baseName="OHB300A05_BOX_CST_ID" device="D" baseAddress="29016"/>

  <AddressBase baseName="OHB300A04_READ" device="D" baseAddress="26737"/>
  <AddressBase baseName="OHB300A04_WRITE" device="D" baseAddress="25073"/>
  <AddressBase baseName="OHB300A04_RFID" device="D" baseAddress="25812"/>
  <AddressBase baseName="OHB300A04_BOX_CST_ID" device="D" baseAddress="29024"/>

  <AddressBase baseName="OHB300A03_READ" device="D" baseAddress="26849"/>
  <AddressBase baseName="OHB300A03_WRITE" device="D" baseAddress="25077"/>
  <AddressBase baseName="OHB300A03_RFID" device="D" baseAddress="25816"/>
  <AddressBase baseName="OHB300A03_BOX_CST_ID" device="D" baseAddress="29032"/>

  <AddressBase baseName="OHB300A02_READ" device="D" baseAddress="26961"/>
  <AddressBase baseName="OHB300A02_WRITE" device="D" baseAddress="25081"/>
  <AddressBase baseName="OHB300A02_RFID" device="D" baseAddress="25820"/>
  <AddressBase baseName="OHB300A02_BOX_CST_ID" device="D" baseAddress="29040"/>

  <AddressBase baseName="OHB300A01_READ" device="D" baseAddress="27073"/>
  <AddressBase baseName="OHB300A01_WRITE" device="D" baseAddress="25085"/>
  <AddressBase baseName="OHB300A01_RFID" device="D" baseAddress="25824"/>
  <AddressBase baseName="OHB300A01_BOX_CST_ID" device="D" baseAddress="29048"/>

  <AddressBase baseName="OHB300T01_READ" device="D" baseAddress="27185"/>
  <AddressBase baseName="OHB300T01_WRITE" device="D" baseAddress="25089"/>
  <AddressBase baseName="OHB300T01_RFID" device="D" baseAddress="25828"/>
  <AddressBase baseName="OHB300T01_BOX_CST_ID" device="D" baseAddress="29056"/>

  <AddressBase baseName="OHB300T03_READ" device="D" baseAddress="27633"/>
  <AddressBase baseName="OHB300T03_WRITE" device="D" baseAddress="25105"/>
  <AddressBase baseName="OHB300T03_RFID" device="D" baseAddress="25844"/>
  <AddressBase baseName="OHB300T03_BOX_CST_ID" device="D" baseAddress="29088"/>

  <AddressBase baseName="OHB300T02_READ" device="D" baseAddress="27521"/>
  <AddressBase baseName="OHB300T02_WRITE" device="D" baseAddress="25101"/>
  <AddressBase baseName="OHB300T02_RFID" device="D" baseAddress="25840"/>
  <AddressBase baseName="OHB300T02_BOX_CST_ID" device="D" baseAddress="29080"/>

  <!--<AddressBase baseName="OHB100T0A_READ" device="D" baseAddress="26961"/>
  <AddressBase baseName="OHB100T0A_WRITE" device="D" baseAddress="25081"/>
  <AddressBase baseName="OHB100T0A_RFID" device="D" baseAddress="25820"/>
  <AddressBase baseName="OHB100T0A_BOX_CST_ID" device="D" baseAddress="29064"/>-->

  <!--   <AddressBase baseName="OHBf00T01_READ" device="D" baseAddress="27409"/>
  <AddressBase baseName="OHBf00T01_WRITE" device="D" baseAddress="25097"/>
  <AddressBase baseName="OHBf00T01_RFID" device="D" baseAddress="25836"/>
  <AddressBase baseName="OHBf00T01_BOX_CST_ID" device="D" baseAddress="29072"/> -->

  <!--System info-->
  <AddressBase baseName="MASTER_PLC_SYSTEM_INFO" device="D" baseAddress="25001"/>

  <AddressBase baseName="HID_TO_OHXC_DATA_AREA" device="4" baseAddress="0320"/>
  <AddressBase baseName="HID_TO_OHXC_DATA_AREA_B" device="0" baseAddress="866"/>
  <!--<AddressBase baseName="OHXC_TO_HID_DATA_AREA" device="0" baseAddress="859"/>-->
  <AddressBase baseName="OHXC_TO_HID_DATA_AREA" device="4" baseAddress="0322"/>


</AddressBaseDefs>
