<appSettings>
  <add key="BC_ID" value="ASE_LINE2"/>
  <!-- MemHisLogDir : Log放置位置 -->
  <add key="MemHisLogDir" value="d:\Temp\EAPS\logs" />
  <!-- MemHisLogZipDir : Log壓縮檔放置位置 -->
  <add key="MemHisLogZipDir" value="d:\Temp\EAPS\logs\archive" />
  <add key="ContentRootDir" value="d:\Temp\EAPS\user-data" />
  <add key="LogUnzipDir" value="d:\Temp\EAPS\tmp" />
  <!-- Share Memory Application Config Begin -->

  <!-- SECSConversactionTimeout : SECS的Conversation Timeout-->
  <add key="SECSConversactionTimeout" value="60"/>
  <!-- InitialTimeoutSec : 初始Time out秒數 -->
  <add key="InitialTimeoutSec" value="3" />
  <!-- InitialRetryCount : 初始Time out最高可重複次數 -->
  <add key="InitialRetryCount" value="2" />
  <!-- <add key="BitWriteRange" value="B0100-B011E"/> -->
  <!-- Share Memory Application Config End -->
  <!-- TX Log Path -->
  <add key="TxLogPath" value="d:\Temp\EAPS\txlog" />
  <!-- <add key="TxAssemblyName" value="EAPWinForm"/> -->
  <add key="TxAssemblyName" value="ShareMemoryControl" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
  <add key="EAP_UI_Floor" value="2F" />
  <!-- InitialPortCount : 初始PortCount -->
  <add key="PortCount" value="3" />
  <add key="LimitCount" value="0" />

  <add key="IncludeSECSModule" value="Y"/>
  <add key="IncludeTcpIpModule" value="Y"/>
  <add key="NetworkQualityTest" value="Y" />

  <add key="ReBuildDB" value="N"/>
  <add key="IncludeDB" value="N"/>
  <add key="EAPSecsAgentName" value="MES_TO_MP"/>
  <add key="nhibernate-logger" value="com.mirle.ibg3k0.bcf.Common.NHibernate.NHibernateNLogFactory, BlockControlFramework"/>
  <!-- SelValDefSectionName：指定目前用來設定Value Define的Section名稱。若有多組，請以';'(分號)作為區隔 -->
  <!--<add key="SelValDefSectionName" value="ValueDefs;BitValueDefs;MES_ValueDefs"/>-->
  <add key="SelValDefSectionName" value="ValueDefs"/>
  <add key="CsvConfig" value="\Config\ASE_LINE2\CSV\" />
  <add key="DcsConfig" value="\Config\ASE_LINE2\" />
  <add key="IncludeMPCLModule" value="Y"/>
  <!-- LicenseKeyVandor : 1:Taiwan、2:China-->
  <add key="LicenseKeyVandor" value="2" />


  <!-- OHxC-專用設定 -->
  <add key="IsEnableIDReadFailScenario" value="Y" />

  <!--實際車子的高、寬以及Secsor的寬度-->
  <add key="VehicleHeight" value="1880" />
  <add key="VehicleWidth" value="3290" />
  <add key="SensorWLength" value="300" />

  <!-- OHBC 資料 -->
  <add key="cmdPriorityAdd" value="5" />
  <add key="cmdTimeOutToAlternate" value="120" />
  
</appSettings>