<?xml version="1.0" encoding="utf-8" ?>
<DataCollectionSetting>
  <Method Name="ohxc1" IP="zabbix.ohxc.mirle.com.tw" Port="10051">
    <Item Name="ZABBIX_OHXC_IDLE_DIRTY_CAR" Period="5" IsReport="Y"/>
    <Item Name="ZABBIX_OHXC_IDLE_CLEAR_CAR" Period="5" IsReport="Y"/>
    <Item Name="ZABBIX_OHXC_IS_ACTIVE" Period="5" IsReport="Y"/>
    <Item Name="ZABBIX_OHXC_ALIVE" Period="5" IsReport="Y"/>
    <Item Name="ZABBIX_MCS_CMD_QUEUE" Period="60" IsReport="Y"/>
    <Item Name="ZABBIX_MCS_CMD_RUNNING" Period="60" IsReport="Y"/>
    <Item Name="ZABBIX_MCS_CMD_RECIVED_HOUR" Period="3600" IsReport="Y"/>
    <Item Name="ZABBIX_MCS_CMD_FINISHED_HOUR" Period="3600" IsReport="Y"/>
  </Method>
</DataCollectionSetting>