<EQMapToValueEvent>

  <!--   <EQObject id="OHB100T09" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB100T09_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB100T09_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB100T09_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB100T09_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject> -->
  <EQObject id="B7_OHBLOOP_T03" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB100T03_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB100T03_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB100T03_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB100T03_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE2_A01" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB300A01_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB300A01_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB300A01_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB300A01_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE2_A02" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB300A02_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB300A02_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB300A02_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB300A02_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE2_A03" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB300A03_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB300A03_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB300A03_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB300A03_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE2_A04" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB300A04_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB300A04_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB300A04_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB300A04_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE2_A05" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB300A05_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB300A05_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB300A05_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB300A05_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE2_T01" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB300T01_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB300T01_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB300T01_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB300T01_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLOOP_T04" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB100T04_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB100T04_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB100T04_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB100T04_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE2_T02" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB300T02_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB300T02_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB300T02_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB300T02_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE2_T03" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB300T03_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB300T03_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB300T03_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB300T03_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <!--   <EQObject id="OHB200A05" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB200A05_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB200A05_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB200A05_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB200A05_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject> -->

  <!--System info-->
  <EQObject id="MASTER_PLC" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="MASTER_PLC_SYSTEM_INFO" relativeName="SET_SYSTEM_INFO_TO_MASTER"></ValueEvent>
  </EQObject>

  <EQObject id="HID" cate="Equipment" MPLCName="HID" isValueEventTrigger="Y">
    <ValueEvent baseName="HID_TO_OHXC_DATA_AREA" relativeName="HID_TO_OHXC"></ValueEvent>
    <ValueEvent baseName="HID_TO_OHXC_DATA_AREA_B" relativeName="HID_TO_OHXC_AREA_B"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_HID_DATA_AREA" relativeName="OHXC_TO_HID"></ValueEvent>
  </EQObject>

</EQMapToValueEvent>