<?xml version="1.0" encoding="utf-8" ?>
<SECSConnectionSetting>
  <!--FRPC-->
  <!--<Connection Name="MES_TO_MP" DeviceID="1" LocalIP="127.0.0.1" LocalPort="7001" RemoteIP="127.0.0.1" RemotePort="57000"
                    T3Timeout="30" T5Timeout="5" T6Timeout="50" T7Timeout="5" T8Timeout="5" RetryCount="0"
                    ConnectMode="1" LinkTestTimer="5"
                    TXLogPath="D:\NLog\SECSLog\MES\"
                    ProcessReceiveOrder="0">
  </Connection>-->

  <!--LocalHost-->
  
<!-- 
  <Connection Name="MES_TO_MP" DeviceID="0" LocalIP="127.0.0.1" LocalPort="7001" RemoteIP="127.0.0.1" RemotePort="7000"
          T3Timeout="30" T5Timeout="5" T6Timeout="50" T7Timeout="5" T8Timeout="5" RetryCount="0"
          ConnectMode="1" LinkTestTimer="5"
          TXLogPath="D:\NLog\SECSLog\MES\"
          ProcessReceiveOrder="1" ReceiveByQueue="S2F49">
  </Connection>
-->
  <!--Real MCS: OHBF00-->
  <Connection Name="MES_TO_MP" DeviceID="21" LocalIP="172.22.38.201" LocalPort="5021" RemoteIP="192.168.31.144" RemotePort="7000"
      T3Timeout="30" T5Timeout="5" T6Timeout="50" T7Timeout="5" T8Timeout="5" RetryCount="0"
      ConnectMode="0" LinkTestTimer="5"
      TXLogPath="D:\NLog\SECSLog\MES\"
      ProcessReceiveOrder="1" ReceiveByQueue="S2F49">
  </Connection>
  <!-- 

  -->
</SECSConnectionSetting>