<?xml version="1.0" encoding="utf-8" ?>
<!-- RecvTimeout:等待sendRecv Reply的Time out時間(milliseconds) -->
<!-- RetryCount: SendRecv Time out後要再重複發送的次數-->
<!-- ConnectionMode: 0=Server Mode、1=Clinet Mode-->
<!-- FrameBuilderType: 0=PC Type (Mirle)、1=PLC Type (Mirle)-->
<!-- MaxReconnectionCount: 斷線後最多嘗試幾次重新恢復連線 (若設定為0則不進行自動重新連線) (Client Mode適用)-->
<!-- ReconnectInterval: 斷線多久之後再進行一次嘗試恢復連線的動作 (Client Mode適用)-->
<TcpIpConnectionSetting>
  <Common RecvTimeout="10000" SendTimeout="-1" MaxReadSize="1024" ReconnectInterval="5000" RetryCount="0" />
  <Connection Name="B7_OHB_CR01" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="192.168.201.47" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B7_OHB_CR02" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="192.168.201.48" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B7_OHB_CR03" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="192.168.201.49" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B7_OHB_CR04" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B7_OHB_CR05" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="192.168.201.50" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B7_OHB_CR06" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="192.168.201.51" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B7_OHB_CR07" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="192.168.201.81" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B7_OHB_CR08" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="192.168.201.82" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B7_OHB_CR09" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="192.168.201.101" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B7_OHB_CR10" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B7_OHB_CR11" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="192.168.201.102" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B7_OHB_CR12" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B7_OHB_CR13" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B7_OHB_CR14" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B7_OHB_CR15" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B7_OHB_CR16" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B7_OHB_CR17" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B7_OHB_CR18" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
</TcpIpConnectionSetting>