<?xml version="1.0" encoding="utf-8" ?>
<!-- RecvTimeout:等待sendRecv Reply的Time out時間(milliseconds) -->
<!-- RetryCount: SendRecv Time out後要再重複發送的次數-->
<!-- ConnectionMode: 0=Server Mode、1=Clinet Mode-->
<!-- FrameBuilderType: 0=PC Type (Mirle)、1=PLC Type (Mirle)-->
<!-- MaxReconnectionCount: 斷線後最多嘗試幾次重新恢復連線 (若設定為0則不進行自動重新連線) (Client Mode適用)-->
<!-- ReconnectInterval: 斷線多久之後再進行一次嘗試恢復連線的動作 (Client Mode適用)-->
<TcpIpConnectionSetting>
  <Common RecvTimeout="30000" SendTimeout="-1" MaxReadSize="1024" ReconnectInterval="5000" RetryCount="0" />
  <Connection Name="OHB300CR1" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="0.0.0.0" RemotePort="5001" ConnectionMode="0" FrameBuilderType="0"/>
  <!--<Connection Name="OHT_TO_OHT01" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="0.0.0.0" RemotePort="5001" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT02" LocalIP="0.0.0.0" LocalPort="10002" RemoteIP="0.0.0.0" RemotePort="5002" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT03" LocalIP="0.0.0.0" LocalPort="10003" RemoteIP="0.0.0.0" RemotePort="5003" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT04" LocalIP="0.0.0.0" LocalPort="10004" RemoteIP="0.0.0.0" RemotePort="5004" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT05" LocalIP="0.0.0.0" LocalPort="10005" RemoteIP="0.0.0.0" RemotePort="5005" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT06" LocalIP="0.0.0.0" LocalPort="10006" RemoteIP="0.0.0.0" RemotePort="5006" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT07" LocalIP="0.0.0.0" LocalPort="10007" RemoteIP="0.0.0.0" RemotePort="5007" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT08" LocalIP="0.0.0.0" LocalPort="10008" RemoteIP="0.0.0.0" RemotePort="5008" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT09" LocalIP="0.0.0.0" LocalPort="10009" RemoteIP="0.0.0.0" RemotePort="5010" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT10" LocalIP="0.0.0.0" LocalPort="10010" RemoteIP="0.0.0.0" RemotePort="5010" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT11" LocalIP="0.0.0.0" LocalPort="10011" RemoteIP="0.0.0.0" RemotePort="5011" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT12" LocalIP="0.0.0.0" LocalPort="10012" RemoteIP="0.0.0.0" RemotePort="5012" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT13" LocalIP="0.0.0.0" LocalPort="10013" RemoteIP="0.0.0.0" RemotePort="5013" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT14" LocalIP="0.0.0.0" LocalPort="10014" RemoteIP="0.0.0.0" RemotePort="5014" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT15" LocalIP="0.0.0.0" LocalPort="10015" RemoteIP="0.0.0.0" RemotePort="5015" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT16" LocalIP="0.0.0.0" LocalPort="10016" RemoteIP="0.0.0.0" RemotePort="5016" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT17" LocalIP="0.0.0.0" LocalPort="10017" RemoteIP="0.0.0.0" RemotePort="5017" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT18" LocalIP="0.0.0.0" LocalPort="10018" RemoteIP="0.0.0.0" RemotePort="5018" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT19" LocalIP="0.0.0.0" LocalPort="10019" RemoteIP="0.0.0.0" RemotePort="5019" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT20" LocalIP="0.0.0.0" LocalPort="10020" RemoteIP="0.0.0.0" RemotePort="5020" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT21" LocalIP="0.0.0.0" LocalPort="10021" RemoteIP="0.0.0.0" RemotePort="5021" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT22" LocalIP="0.0.0.0" LocalPort="10022" RemoteIP="0.0.0.0" RemotePort="5022" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHT_TO_OHT23" LocalIP="0.0.0.0" LocalPort="10023" RemoteIP="0.0.0.0" RemotePort="5023" ConnectionMode="0" FrameBuilderType="0"/>-->
</TcpIpConnectionSetting>