<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ValueDefs" type="com.mirle.ibg3k0.bcf.ConfigHandler.ValueDefConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="EQMapToValueEvent" type="com.mirle.ibg3k0.bcf.ConfigHandler.EQMapToValueEventConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="ValueEventRelativeDefs" type="com.mirle.ibg3k0.bcf.ConfigHandler.ValueEventRelativeConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="EquipmentDefs" type="com.mirle.ibg3k0.bcf.ConfigHandler.EquipmentConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere"/>
    <!--<section name="MapActionDefs" type="com.mirle.ibg3k0.bcf.ConfigHandler.MapActionConfigSectionHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere" />-->
    <section name="NodeFlowRelations" type="com.mirle.ibg3k0.bcf.ConfigHandler.NodeFlowRelConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="MQEnvironments" type="com.mirle.ibg3k0.mqc.common.MQEnvConfigHandler,MQTrxControl" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="AddressBaseDefs" type="com.mirle.ibg3k0.bcf.ConfigHandler.BaseAddressConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="TimerActionDefs" type="com.mirle.ibg3k0.bcf.ConfigHandler.TimerActionConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="MPLCConnectionSetting" type="com.mirle.ibg3k0.bcf.ConfigHandler.MPLCConnectionConfigHandler, BlockControlFramework" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="BitValueDefs" type="com.mirle.ibg3k0.bcf.ConfigHandler.ValueDefConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="MES_ValueDefs" type="com.mirle.ibg3k0.bcf.ConfigHandler.ValueDefConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="MES_AddressBaseDefs" type="com.mirle.ibg3k0.bcf.ConfigHandler.BaseAddressConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="SECSConnectionSetting" type="com.mirle.ibg3k0.bcf.ConfigHandler.SECSConnectionConfigHandler,BlockControlFramework" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <TimerActionDefs>
    <!-- name為該TimerAction的名稱，intervalMilliSec為該Timer的間隔(單位：毫秒)，timerActionClass為執行的TimerAction類別
      其namespace必須是『com.mirle.ibg3k0.smc.data』。
    -->
    <!-- 
    Example:
    <TimerAction name="Sample" intervalMilliSec="2000" timerActionClass="SampleTimerAction"></TimerAction>
    <TimerAction name="Sample2" intervalMilliSec="1000" timerActionClass="SampleTimerAction2"></TimerAction>
    <TimerAction name="Sample" intervalMilliSec="2000" timerActionClass="SampleTimerAction"></TimerAction>
    -->
    <!--<TimerAction name="BCDateTimeSync" intervalMilliSec="5000" timerActionClass="com.mirle.ibg3k0.sc.Data.TimerAction.BCDateTimeSync, ScriptControl" systemAction="false">
    </TimerAction>
    <TimerAction name="BCConnection" intervalMilliSec="4000" timerActionClass="com.mirle.ibg3k0.sc.Data.TimerAction.BCConnection, ScriptControl" systemAction="false">
    </TimerAction>
    <TimerAction name="MPLCConnectionCheck" intervalMilliSec="60000" timerActionClass="com.mirle.ibg3k0.sc.Data.TimerAction.MPLCConnectionCheck, ScriptControl" systemAction="true">
    </TimerAction>
    <TimerAction name="BCSystemStatusTimer" intervalMilliSec="60000" timerActionClass="com.mirle.ibg3k0.sc.Data.TimerAction.BCSystemStatusTimer, ScriptControl" systemAction="true">
    </TimerAction>-->
  </TimerActionDefs>
  <nlog configSource="Config\NLog_simple.config"/>
  <MQEnvironments configSource="Config\MQEnvironments_simple.config"/>
  <EquipmentDefs configSource="Config\EquipmentDefs_simple.config"/>
  <!-- <MapActionDefs configSource="Config\EquipmentMapActionDefs.config"/> -->
  <NodeFlowRelations configSource="Config\NodeFlowRel_simple.config"/>
  <AddressBaseDefs configSource="Config\AddressBaseDefs_simple.config"/>
  <ValueDefs configSource="Config\ValueDefs_simple.config"/>
  <EQMapToValueEvent configSource="Config\EQMapToValueEvent.config"/>
  <ValueEventRelativeDefs configSource="Config\ValueEventRelativeDefs.config"/>
  <appSettings configSource="Config\appSettings_simple.config">
    
  </appSettings>
  <!--<hibernate-configuration configSource="Config\SQLite.cfg.xml"/>-->
  <hibernate-configuration configSource="Config\SQLServer.cfg.xml"/>
  <MPLCConnectionSetting configSource="Config\MPLCConnectionSetting.config"/>
  <SECSConnectionSetting configSource="Config\SECSConnectionSetting.config"/>
  <BitValueDefs configSource="Config\BitValueDefs_simple.config"/>
  <MES_ValueDefs configSource="Config\MES_ValueDefs_simple.config"/>
  <MES_AddressBaseDefs configSource="Config\MES_AddressBaseDefs_simple.config"/>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
