<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"
             allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="d:\Temp\EAPS\logs"/>
    <variable name="layoutDF" value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger} ${level:uppercase=true}]: ${message} ${onexception:inner=${newline} ${exception:format=ToString}}"/>
    <targets>
      <target name="MPLCConnectionControl" xsi:type="File"
              fileName="${logDirectory}/MPLCConnectionControl_${date:format=yyyyMMdd}.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger} ${level:uppercase=true}]: ${message}" />
      <target name="BCAliveLogger" xsi:type="File" fileName="${logDirectory}/BCAliveLogger_${date:format=yyyyMMdd}.log"
            layout="${layoutDF}"/>
    </targets>
    <rules>
      <logger name="com.mirle.ibg3k0.MPLCConnectionControl.*" minlevel="Debug" writeTo="MPLCConnectionControl" />
      <logger name="BCAliveLogger" minlevel="Debug" writeTo="BCAliveLogger" final="true"/>
    </rules>
  </nlog>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>