<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"
             allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- make sure to set 'Copy To Output Directory' option for this file -->
    <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

    <!--<variable name="logDirectory" value="${basedir}/logs"/>-->
    <variable name="logDirectory" value="d:\Temp\SECS\APlogs"/>
    <targets>
      <target name="SECSTrxLogger" xsi:type="File" fileName="${logDirectory}/${date:format=yyyyMMdd}.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger} ${level:uppercase=true}]: ${message}" />
      <target name="SXFYConvertLogger" xsi:type="File" fileName="${logDirectory}/${date:format=yyyyMMdd}.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger} ${level:uppercase=true}]: ${message}" />
      <target name="file" xsi:type="File" fileName="${logDirectory}/${date:format=yyyyMMdd}.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger} ${level:uppercase=true}]: ${message}" />
      <target name="debuglog" xsi:type="Console" layout="${date}: ${message}" />
    </targets>
    <rules>
      <logger name="SECSTrxLogger" minlevel="Info" writeTo="SECSTrxLogger" />
      <logger name="SXFYConvertLogger" minlevel="Info" writeTo="SXFYConvertLogger" />
      <!--<logger name="*" minlevel="Warning" writeTo="debuglog" />
      <logger name="*" minlevel="Debug" writeTo="file" />-->
    </rules>
  </nlog>
</configuration>