<EQMapToValueEvent>

  <!--   <EQObject id="B7_OHBLOOP_T09" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB100T09_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB100T09_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB100T09_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB100T09_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject> -->
  <EQObject id="B7_OHBLOOP_T0A" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB100T0A_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB100T0A_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB100T0A_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB100T0A_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLOOP_T09" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHB100T09_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHB100T09_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHB100T09_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHB100T09_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE3_A08" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHBF00A08_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHBF00A08_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHBF00A08_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHBF00A08_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE3_A07" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHBF00A07_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHBF00A07_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHBF00A07_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHBF00A07_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE3_A06" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHBF00A06_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHBF00A06_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHBF00A06_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHBF00A06_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE3_T01" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHBF00T01_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHBF00T01_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHBF00T01_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHBF00T01_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

  <EQObject id="B7_OHBLINE3_A01" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHBF00A01_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHBF00A01_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHBF00A01_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHBF00A01_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE3_A02" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHBF00A02_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHBF00A02_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHBF00A02_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHBF00A02_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE3_A03" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHBF00A03_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHBF00A03_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHBF00A03_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHBF00A03_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE3_A04" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHBF00A0F_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHBF00A0F_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHBF00A0F_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHBF00A0F_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE3_A05" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="OHBF00A05_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="OHBF00A05_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="OHBF00A05_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="OHBF00A05_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  <EQObject id="B7_OHBLINE3_T02" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="B7_OHBLINE3_T02_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="B7_OHBLINE3_T02_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="B7_OHBLINE3_T02_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="B7_OHBLINE3_T02_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  
  <!--System info-->
  <EQObject id="MASTER_PLC" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="MASTER_PLC_SYSTEM_INFO" relativeName="SET_SYSTEM_INFO_TO_MASTER"></ValueEvent>
  </EQObject>
</EQMapToValueEvent>