<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援七種：Orther、Stock,Buffer、Equipment、MTL、MTS、OHCV、HID-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->


<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="B7_OHBLINE3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.ASEMCSDefaultMapAction, ScriptControl">
    <Zone id="VH_LINE">
      <Node id="VH_LINE" node_num="1" >
        <Vehicle id="B7_OHBLINE3_CR1" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHBF00CR1"/>
      </Node>
      <Node id="PORT_NODE" node_num="5" >
        <EQPT id="PORT_EQ" eqptType="3" communicationType="1">
          <!-- <Port id="OHB100T09" unit_num="1" port_num="1" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/> -->
          <Port id="B7_OHBLOOP_T0A" unit_num="2" port_num="2" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="B7_OHBLOOP_T09" unit_num="6" port_num="6" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>

          <Port id="B7_OHBLINE3_A08" unit_num="3" port_num="3" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="B7_OHBLINE3_A07" unit_num="4" port_num="4" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="B7_OHBLINE3_A06" unit_num="5" port_num="5" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>

          <Port id="B7_OHBLINE3_A01" unit_num="7" port_num="7" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="B7_OHBLINE3_A02" unit_num="8" port_num="8" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>

          <Port id="B7_OHBLINE3_A03" unit_num="9" port_num="9" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="B7_OHBLINE3_A04" unit_num="10" port_num="10" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="B7_OHBLINE3_A05" unit_num="11" port_num="11" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>



          <!--           <Port id="B7_OHBLINE3_A04" unit_num="6" port_num="6" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="B7_OHBLINE3_A05" unit_num="7" port_num="7" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
 -->
          <Port id="B7_OHBLINE3_T01" unit_num="8" port_num="8" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="B7_OHBLINE3_T02" unit_num="12" port_num="12" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>

          <Port id="MASTER_PLC" unit_num="20" port_num="20" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PLCSystemInfoMapAction, ScriptControl"/>
        </EQPT>
      </Node>
    </Zone>
  </Line>
</EquipmentDefs>