<AddressBaseDefs>
  <!--<AddressBase baseName="EAPWrite" device="W" baseAddress="0000"></AddressBase>-->
  <!--AddressBase baseName="EAP_W" device="W" baseAddress="0000">
  </AddressBase-->
  <!--**************************************************************************************************************************-->
  <!--***********************************************************BC to Read***********************************************************-->
  <!--**************************************************************************************************************************-->

  
  <!--________________________OHBC_PORT______________________-->
  <AddressBase baseName="OHB100T02_READ" device="D" baseAddress="27409"/>
  <AddressBase baseName="OHB100T02_WRITE" device="D" baseAddress="25097"/>
  <AddressBase baseName="OHB100T02_RFID" device="D" baseAddress="25836"/>
  <AddressBase baseName="OHB100T02_BOX_CST_ID" device="D" baseAddress="29072"/>

  <AddressBase baseName="OHB100T01_READ" device="D" baseAddress="26513"/>
  <AddressBase baseName="OHB100T01_WRITE" device="D" baseAddress="25065"/>
  <AddressBase baseName="OHB100T01_RFID" device="D" baseAddress="25804"/>
  <AddressBase baseName="OHB100T01_BOX_CST_ID" device="D" baseAddress="29008"/>
 
  <AddressBase baseName="OHB200A01_READ" device="D" baseAddress="27185"/>
  <AddressBase baseName="OHB200A01_WRITE" device="D" baseAddress="25089"/>
  <AddressBase baseName="OHB200A01_RFID" device="D" baseAddress="25828"/>
  <AddressBase baseName="OHB200A01_BOX_CST_ID" device="D" baseAddress="29056"/>

  <AddressBase baseName="OHB200A02_READ" device="D" baseAddress="27073"/>
  <AddressBase baseName="OHB200A02_WRITE" device="D" baseAddress="25085"/>
  <AddressBase baseName="OHB200A02_RFID" device="D" baseAddress="25824"/>
  <AddressBase baseName="OHB200A02_BOX_CST_ID" device="D" baseAddress="29048"/>

  <AddressBase baseName="OHB200T01_READ" device="D" baseAddress="26849"/>
  <AddressBase baseName="OHB200T01_WRITE" device="D" baseAddress="25077"/>
  <AddressBase baseName="OHB200T01_RFID" device="D" baseAddress="25816"/>
  <AddressBase baseName="OHB200T01_BOX_CST_ID" device="D" baseAddress="29032"/>

  <AddressBase baseName="OHB200A03_READ" device="D" baseAddress="26961"/>
  <AddressBase baseName="OHB200A03_WRITE" device="D" baseAddress="25081"/>
  <AddressBase baseName="OHB200A03_RFID" device="D" baseAddress="25820"/>
  <AddressBase baseName="OHB200A03_BOX_CST_ID" device="D" baseAddress="29040"/>

  <AddressBase baseName="OHB200A0F_READ" device="D" baseAddress="26737"/>
  <AddressBase baseName="OHB200A0F_WRITE" device="D" baseAddress="25073"/>
  <AddressBase baseName="OHB200A0F_RFID" device="D" baseAddress="25812"/>
  <AddressBase baseName="OHB200A0F_BOX_CST_ID" device="D" baseAddress="29024"/>

  <AddressBase baseName="OHB200A05_READ" device="D" baseAddress="26625"/>
  <AddressBase baseName="OHB200A05_WRITE" device="D" baseAddress="25069"/>
  <AddressBase baseName="OHB200A05_RFID" device="D" baseAddress="25808"/>
  <AddressBase baseName="OHB200A05_BOX_CST_ID" device="D" baseAddress="29016"/>

  <!--System info-->
  <AddressBase baseName="MASTER_PLC_SYSTEM_INFO" device="D" baseAddress="25001"/>

</AddressBaseDefs>
