<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Warn"
      internalLogFile="C:\LogFiles\internal-nlog.txt">
  <variable name="logDirectory" value="C:\LogFiles\OHxC" />
  <variable name="layoutDF" value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger} ${level:uppercase=true}]:${message} ${onexception:inner=${newline} ${exception:format=ToString}}"/>
  <variable name="layoutLogUtility" value="${message} ${onexception:inner=${newline} ${exception:format=ToString}}"/>
  <variable name="layout_OnlyMessage" value="${message}"/>
  <variable name="layout_TimeMessage" value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}]${message}"/>
  <variable name="layoutSchedule" value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff},${level:uppercase=true},${message}"/>

  <targets>
    <target name="RecodeSeriousError" xsi:type="File" fileName="${logDirectory}/RecodeSeriousError.log"
            archiveFileName="${logDirectory}/Archive/RecodeSeriousError_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
            archiveEvery="Day" keepFileOpen="false">
      <layout xsi:type="JsonLayout">
        <attribute name="@timestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fffzzz}" />
        <attribute name="NAME_SPACE" layout="${logger}"/>
        <attribute name="EXECTION" layout="${exception:format=ToString}"/>
        <attribute name="DETAIL_MSG" layout="${message}"/>
        <attribute name="Index" layout="RecodeSeriousError"/>
      </layout>
    </target>

    <target name="MTTFMTBF_OHTC_Record" xsi:type="File" fileName="${logDirectory}/MTTFMTBF/MTTFMTBF_OHTC_Record.csv"
            archiveFileName="${logDirectory}/Archive/MTTFMTBF/MTTFMTBF_OHTC_Record_{#}.zip" maxArchiveFiles="180" archiveNumbering="Date"
            archiveEvery="Day" keepFileOpen="false" enableArchiveFileCompression="true">
      <layout xsi:type="CSVLayout">
        <column name="Time" layout="${message}" />
        <column name="Type" layout="" />
        <column name="RecordInterval" layout="" />
        <quoting>Nothing</quoting>
        <quoteChar>,</quoteChar>
      </layout>
    </target>
    <target name="MTTFMTBF_OHT_Record" xsi:type="File" fileName="${logDirectory}/MTTFMTBF/MTTFMTBF_OHT_Record.csv"
            archiveFileName="${logDirectory}/Archive/MTTFMTBF/MTTFMTBF_OHT_Record_{#}.zip" maxArchiveFiles="180" archiveNumbering="Date"
            archiveEvery="Day" keepFileOpen="false" enableArchiveFileCompression="true">
      <layout xsi:type="CSVLayout">
        <column name="Time" layout="${message}" />
        <column name="VehicleID" layout="" />
        <column name="Type" layout="" />
        <column name="RecordInterval" layout="" />
        <quoting>Nothing</quoting>
        <quoteChar>,</quoteChar>
      </layout>
    </target>

    <target name="RecodeVehicleCSTInterface" xsi:type="File" fileName="${logDirectory}/RecodeVehicleCSTInterface.log" layout="${layout_OnlyMessage}"
      archiveFileName="${logDirectory}/Archive/RecodeVehicleCSTInterface_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
     archiveEvery="Day" keepFileOpen="false"/>

    <target name="SysExcuteQuality" xsi:type="File" fileName="${logDirectory}/SysExcuteQuality.log" layout="${layout_OnlyMessage}"
      archiveFileName="${logDirectory}/Archive/SysExcuteQuality_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
     archiveEvery="Day" keepFileOpen="false"/>

    <target name="HIDAlarm" xsi:type="File" fileName="${logDirectory}/HIDAlarm.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/HIDAlarm_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>

    <target name="CV31_A" xsi:type="File" fileName="${logDirectory}/CV31_A/SourceValue.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger} ${level:uppercase=true}]: ${message}"
        archiveFileName="${logDirectory}/Archive/CV31_A/SourceValue_{#}.log" maxArchiveFiles="720" archiveNumbering="Date"
  archiveEvery="Hour" keepFileOpen="false"/>
    <target name="CV31_B" xsi:type="File" fileName="${logDirectory}/CV31_B/SourceValue.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger} ${level:uppercase=true}]: ${message}"
            archiveFileName="${logDirectory}/Archive/CV31_B/SourceValue_{#}.log" maxArchiveFiles="720" archiveNumbering="Date"
			archiveEvery="Hour" keepFileOpen="false"/>
    <target name="CV32_A" xsi:type="File" fileName="${logDirectory}/CV32_A/SourceValue.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger} ${level:uppercase=true}]: ${message}"
        archiveFileName="${logDirectory}/Archive/CV32_A/SourceValue_{#}.log" maxArchiveFiles="720" archiveNumbering="Date"
  archiveEvery="Hour" keepFileOpen="false"/>
    <target name="CV32_B" xsi:type="File" fileName="${logDirectory}/CV32_B/SourceValue.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger} ${level:uppercase=true}]: ${message}"
            archiveFileName="${logDirectory}/Archive/CV32_B/SourceValue_{#}.log" maxArchiveFiles="720" archiveNumbering="Date"
			archiveEvery="Hour" keepFileOpen="false"/>

  </targets>

  <targets>
    <!--<target name="database" type="Database">
      <dbprovider>mssql</dbprovider>
      <dbhost>localhost</dbhost>
      <dbdatabase>BC_Dev</dbdatabase>
      <dbusername>sa</dbusername>
      <dbpassword>p@ssw0rd</dbpassword>
      <commandText>
        insert into LogTable(time_stamp,level,logger,message) values(@time_stamp, @level, @logger, @message);
      </commandText>
      <parameter name="@time_stamp" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
    </target>-->
    <default-wrapper xsi:type="BufferingWrapper" bufferSize="100" flushTimeout="10000"/>

    <target name="file" xsi:type="File" fileName="${logDirectory}/System.log" layout="${layoutDF}"
            archiveFileName="${logDirectory}/Archive/System_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"  />

    <target name="TransferServiceLogger" xsi:type="File" fileName="${logDirectory}/TransferService/TransferServiceLogger_${date:format=yyyyMMdd}.log" layout="${layoutDF}"
              archiveFileName="${logDirectory}/Archive/TransferServiceLogger_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
          archiveEvery="Day" keepFileOpen="false"/>

    <target name="MPCTipMessageLog" xsi:type="File" fileName="${logDirectory}/MPCTipMessageLog.log" layout="${layoutDF}"
              archiveFileName="${logDirectory}/Archive/MPCTipMessageLog_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
          archiveEvery="Day" keepFileOpen="false"/>
    <target name="SECSTrxLogger" xsi:type="File" fileName="${logDirectory}/SECSTrxLogger.log" layout="${layoutDF}"
                archiveFileName="${logDirectory}/Archive/SECSTrxLogger_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
          archiveEvery="Day" keepFileOpen="false"/>
    <target name="SXFYLogger" xsi:type="File" fileName="${logDirectory}/SXFYLogger.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/SXFYLogger_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>
    <target name="SECSMsgLogger" xsi:type="File" fileName="${logDirectory}/SECSMsgLogger.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/SECSMsgLogger_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>
    <target name="smControlfile" xsi:type="File" fileName="${logDirectory}/control.log" layout="${layoutDF}"
            archiveFileName="${logDirectory}/Archive/control_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>
    <target name="valueEventfile" xsi:type="File" fileName="${logDirectory}/evnet.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/evnet_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>
    <target name="EmptyBoxHandlerLogger" xsi:type="File" fileName="${logDirectory}/EmptyBoxHandlerLogger.log" layout="${layoutDF}"
            archiveFileName="${logDirectory}/Archive/EmptyBoxHandlerLogger{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
            archiveEvery="Day" keepFileOpen="false"/>

    <target name="ConfigHandler" xsi:type="File" fileName="${logDirectory}/ConfigHandler.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${logger}|${level:uppercase=true}]: ${message}" maxArchiveFiles="10" archiveEvery="Day" archiveFileName="${logDirectory}/archive/ConfigHandler_{#}.log" />
    <target name="BMemoryBuffer" xsi:type="File" fileName="${logDirectory}/BMemoryBuffer.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${logger}|${level:uppercase=true}]: ${message}" maxArchiveFiles="10" archiveEvery="Day" archiveFileName="${logDirectory}/archive/BMemoryBuffer_{#}.log" />
    <target name="WMemoryBuffer" xsi:type="File" fileName="${logDirectory}/WMemoryBuffer.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${logger}|${level:uppercase=true}]: ${message}" maxArchiveFiles="10" archiveEvery="Day" archiveFileName="${logDirectory}/archive/WMemoryBuffer_{#}.log" />
    <target name="DMemoryBuffer" xsi:type="File" fileName="${logDirectory}/DMemoryBuffer.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${logger}|${level:uppercase=true}]: ${message}" maxArchiveFiles="10" archiveEvery="Day" archiveFileName="${logDirectory}/archive/DMemoryBuffer_{#}.log" />

    <target name="TcpIpControlfile" xsi:type="File" fileName="${logDirectory}/TcpIpControlfile.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/TcpIpControlfile_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>
    <target name="TcpIpTrxfile" xsi:type="File" fileName="${logDirectory}/TcpIpTrx.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/TcpIpTrx_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>
    <target name="TcpIpTrxStatefile" xsi:type="File" fileName="${logDirectory}/TcpIpTrxState.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/TcpIpTrxState_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>
    <target name="VHStatefile" xsi:type="File" fileName="${logDirectory}/VHState${date:format=yyyyMMdd}.log" layout="${layoutDF}" />

    <target name="MasterPCMemory" xsi:type="File" fileName="${logDirectory}/MasterPCMemory/MasterPCMemory_${date:format=yyyyMMdd}.log"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger} ${level:uppercase=true}]: ${message}" />

    <target name="MPLCConnectionControl" xsi:type="File" fileName="${logDirectory}/MPLCConnectionControl.log" layout="${layoutDF}"
			archiveFileName="${logDirectory}/Archive/MPLCConnectionControl_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
            archiveEvery="Day" keepFileOpen="false"/>

    <target name="MPLCHandShakeTimeoutLogger" xsi:type="File" fileName="${logDirectory}/MPLCHandShakeTimeoutLogger.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}Archive//MPLCHandShakeTimeoutLogger_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
            archiveEvery="Day" keepFileOpen="false"/>
    <target name="SXFYConvertLogger" xsi:type="File" fileName="${logDirectory}/SXFYConvertLogger.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/SXFYConvertLogger_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
            archiveEvery="Day" keepFileOpen="false"/>
    <target name="TriggerEventQueue" xsi:type="File" fileName="${logDirectory}/TriggerEventQueue.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/TriggerEventQueue_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
            archiveEvery="Day" keepFileOpen="false"/>

    <target name="TcpIpTrx" xsi:type="File" fileName="${logDirectory}/TcpIpTrx_${date:format=yyyyMMdd}.log" layout="${layoutDF}" />
    <target name="TcpIpTrxState" xsi:type="File" fileName="${logDirectory}/TcpIpTrxState_${date:format=yyyyMMdd}.log" layout="${layoutDF}" />

    <target name="SECS_EQ" xsi:type="File" fileName="${logDirectory}/SECS_EQ.log" layout="${layoutLogUtility}"
        archiveFileName="${logDirectory}/Archive/SECS_EQ_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
      archiveEvery="Day" keepFileOpen="false"/>

    <target name="VhRoute" xsi:type="File" fileName="${logDirectory}/VhRoute.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/VhRoute_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>
    <target name="ParkBLL" xsi:type="File" fileName="${logDirectory}/ParkBLL.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/ParkBLL_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>
    <target name="LockInfo" xsi:type="File" fileName="${logDirectory}/LockInfo.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/LockInfo_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>

    <target name="BlockControlLog" xsi:type="File" fileName="${logDirectory}/BlockControlLog.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/BlockControlLog_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>
    <target name="EFSqlObserver" xsi:type="File" fileName="${logDirectory}/EFSqlObserver_${date:format=yyyyMMdd}.log" layout="${layoutDF}" />

    <target name="RecodeReportInfo" xsi:type="File" fileName="${logDirectory}/RecodeReportInfo.log" layout="${layout_OnlyMessage}"
      archiveFileName="${logDirectory}/Archive/RecodeReportInfo_{##}.log"
        archiveAboveSize="10240000"
        maxArchiveFiles="20"
        archiveNumbering="Sequence"
        keepFileOpen="false"/>

    <target name="RecodeConnectionInfo" xsi:type="File" fileName="${logDirectory}/RecodeConnectionInfo.log" layout="${layout_OnlyMessage}"
      archiveFileName="${logDirectory}/Archive/RecodeConnectionInfo_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
     archiveEvery="Day" keepFileOpen="false"/>
    <target name="RecodeVehicleHardwareInfo" xsi:type="File" fileName="${logDirectory}/RecodeVehicleHardwareInfo.log" layout="${layout_OnlyMessage}"
      archiveFileName="${logDirectory}/Archive/RecodeVehicleHardwareInfo_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
     archiveEvery="Day" keepFileOpen="false"/>
    <target name="RecodeVehicleInfoFromPLC" xsi:type="File" fileName="${logDirectory}/RecodeVehicleInfoFromPLC.log" layout="${layout_OnlyMessage}"
      archiveFileName="${logDirectory}/Archive/RecodeVehicleInfoFromPLC_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
     archiveEvery="Day" keepFileOpen="false"/>

    <target name="UserOperationInfo" xsi:type="File" fileName="${logDirectory}/UserOperationHistory/OperationInfo_${date:format=yyyyMMdd}.log" layout="${layout_OnlyMessage}"
      archiveFileName="${logDirectory}/Archive/OperationInfo_{##}.log"
        archiveAboveSize="10240000"
        maxArchiveFiles="5"
        archiveNumbering="Sequence"
        keepFileOpen="false"/>


    <target name="RecodeWarn" xsi:type="File" fileName="${logDirectory}/RecodeWarn.log" layout="${layoutDF}"
        archiveFileName="${logDirectory}/Archive/RecodeWarn_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
      archiveEvery="Day" keepFileOpen="false"  />

    <target name="TraceLog" xsi:type="File" fileName="${logDirectory}/TraceLog.log" layout="${layoutDF}"
        archiveFileName="${logDirectory}/Archive/TraceLog_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
      archiveEvery="Day" keepFileOpen="false"  />

    <target name="TraceLog_ForAlive" xsi:type="File" fileName="${logDirectory}/TraceLog_Alive.log" layout="${layoutDF}"
        archiveFileName="${logDirectory}/Archive/TraceLog_Alive_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
      archiveEvery="Day" keepFileOpen="false"  />

    <target name="SystemProcessLog" xsi:type="File" fileName="${logDirectory}/SystemProcessLog.log" layout="${layout_OnlyMessage}"
        archiveFileName="${logDirectory}/SystemProcessLog_{##}.log"
        archiveAboveSize="10240000"
        maxArchiveFiles="5"
        archiveNumbering="Sequence"
        keepFileOpen="false"  />

    <target name="BCRReadInfo" xsi:type="File" fileName="${logDirectory}/BCRReadInfo.log" layout="${layout_OnlyMessage}"
        archiveFileName="${logDirectory}/BCRReadInfo_{##}.log"
        archiveAboveSize="10240000"
        maxArchiveFiles="5"
        archiveNumbering="Sequence"
        keepFileOpen="false"  />

    <target name="HIDInfo" xsi:type="File" fileName="${logDirectory}/HIDInfo.log" layout="${layout_OnlyMessage}"
        archiveFileName="${logDirectory}/HIDInfo_{##}.log"
        archiveAboveSize="10240000"
        maxArchiveFiles="5"
        archiveNumbering="Sequence"
        keepFileOpen="false"  />
    <target name="PortInfo" xsi:type="File" fileName="${logDirectory}/PortInfo.log" layout="${layoutDF}"
        archiveFileName="${logDirectory}/PortInfo_{##}.log"
        archiveAboveSize="10240000"
        maxArchiveFiles="5"
        archiveNumbering="Sequence"
        keepFileOpen="false"  />
    <target name="PLCSystemInfo" xsi:type="File" fileName="${logDirectory}/PLCSystemInfo.log" layout="${layoutDF}"
        archiveFileName="${logDirectory}/PLCSystemInfo_{##}.log"
        archiveAboveSize="10240000"
        maxArchiveFiles="5"
        archiveNumbering="Sequence"
        keepFileOpen="false"  />

    <target name="AOP_MethodExecuteInfo" xsi:type="File" fileName="${logDirectory}/AOP_MethodExecuteInfo.log" layout="${layout_OnlyMessage}"
      archiveFileName="${logDirectory}/Archive/AOP_MethodExecuteInfo_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
     archiveEvery="Day" keepFileOpen="false"/>

    <target name="ObjectHistoricalInfo" xsi:type="File" fileName="${logDirectory}/ObjectHistoricalInfo/ObjectHistoricalInfo.log" layout="${layout_OnlyMessage}"
        archiveFileName="${logDirectory}/Archive/ObjectHistoricalInfo/ObjectHistoricalInfo_{##}.log"
        archiveAboveSize="10240000"
        maxArchiveFiles="20"
        archiveNumbering="Sequence"
        keepFileOpen="false"  />

    <target name="Schedule" xsi:type="File" fileName="${logDirectory}/Schedule.csv" layout="${layoutSchedule}"
               archiveFileName="${logDirectory}/Archive/Schedule_{#}.csv" maxArchiveFiles="60" archiveNumbering="Date"
         archiveEvery="Day" keepFileOpen="false"/>


  </targets>
  <rules>
    <logger name="MPCTipMessageLog" minlevel="Info" writeTo="MPCTipMessageLog" final="true" />
    <logger name="TransferServiceLogger" minlevel="Info" writeTo="TransferServiceLogger" final="true" />

    <!-- Line Logger Begin ... 
        ValueEvnet、ValueWrite的logger name一律是main eqpt name
        Trasaction的logger name一律是main eqpt name在加上『_Trx』-->
    <!-- Line Logger End-->
    <logger name="TriggerEventQueue" minlevel="Off" writeTo="TriggerEventQueue" final="true" />
    <logger name="SXFYConvertLogger" minlevel="Info" writeTo="SXFYConvertLogger" final="true" />
    <logger name="MPLCHandShakeTimeoutLogger" minlevel="Debug" writeTo="MPLCHandShakeTimeoutLogger" final="true" />
    <logger name="SECSTrxLogger" minlevel="Info" writeTo="SECSTrxLogger" final="true" />
    <logger name="SXFYLogger" minlevel="Debug" writeTo="SXFYLogger" final="true" />
    <logger name="SECSMsgLogger" minlevel="Info" writeTo="SECSMsgLogger" final="true" />
    <logger name="WMemoryBuffer" minlevel="Off" writeTo="WMemoryBuffer" final="true" />
    <logger name="DMemoryBuffer" minlevel="Debug" writeTo="DMemoryBuffer" final="true" />
    <logger name="BMemoryBuffer" minlevel="Off" writeTo="BMemoryBuffer" final="true" />
    <logger name="TcpIpControl" minlevel="Debug" writeTo="TcpIpControlfile" final="true" />
    <logger name="TcpIpTrx" minlevel="Debug" writeTo="TcpIpTrxfile" final="true" />
    <logger name="TcpIpTrxState" minlevel="Debug" writeTo="TcpIpTrxStatefile" final="true" />
    <logger name="VHState" minlevel="Off" writeTo="VHStatefile" final="true" />
    <logger name="EmptyBoxHandlerLogger" minlevel="Debug" writeTo="EmptyBoxHandlerLogger" final="true" />

    <logger name="com.mirle.ibg3k0.bcf.Controller.MPLCSMControl" minlevel="Warn" writeTo="smControlfile" final="true" />
    <logger name="com.mirle.ibg3k0.bcf.ConfigHandler*" minlevel="Warn" writeTo="ConfigHandler" final="true" />
    <logger name="com.mirle.ibg3k0.bcf.Controller.ValueRead" minlevel="Off" writeTo="valueEventfile" final="true" />
    <logger name="com.mirle.ibg3k0.MPLCConnectionControl.*" minlevel="Warn" writeTo="MPLCConnectionControl" final="true"/>

    <logger name="MasterPCMemory*" minlevel="Off" writeTo="MasterPCMemory" final="true"/>

    <!--<logger name="*" minlevel="Info" writeTo="file" />-->
    <logger name="com.mirle.ibg3k0.bcf.*" level="Off" writeTo="file" />
    <logger name="com.mirle.ibg3k0.stc.*" level="Info" writeTo="file" />
    <logger name="com.mirle.ibg3k0.bc.*" level="Info" writeTo="file" />
    <!--<logger name="com.mirle.ibg3k0.sc.*" level="Info" writeTo="file" />-->

    <logger name="SECS_EQ" minlevel="Off" writeTo="SECS_EQ" />
    <logger name="VhRoute" minlevel="Off" writeTo="VhRoute" />
    <logger name="ParkBLL" minlevel="Off" writeTo="ParkBLL" />

    <logger name="LockInfo" minlevel="Off" writeTo="LockInfo" />

    <logger name="BlockControlLog" minlevel="OFF" writeTo="BlockControlLog" />

    <logger name="EFSqlObserver" minlevel="OFF" writeTo="EFSqlObserver" />

    <logger name="RecodeReportInfo" minlevel="Info" writeTo="RecodeReportInfo" />
    <logger name="RecodeVehicleHardwareInfo" minlevel="Info" writeTo="RecodeVehicleHardwareInfo" />
    <logger name="RecodeVehicleInfoFromPLC" minlevel="Info" writeTo="RecodeVehicleInfoFromPLC" />
    <logger name="RecodeVehicleCSTInterface" minlevel="Info" writeTo="RecodeVehicleCSTInterface" />
    <logger name="SysExcuteQuality" minlevel="Info" writeTo="SysExcuteQuality" />
    <logger name="UserOperation" minlevel="Info" writeTo="UserOperationInfo" />
    <logger name="*" level="Error" writeTo="RecodeSeriousError"/>

    <logger name="RecodeConnectionInfo" minlevel="Info" writeTo="RecodeConnectionInfo" />
    <logger name="AOP_MethodExecuteInfo" minlevel="Off" writeTo="AOP_MethodExecuteInfo" />

    <logger name="*" level="Warn" writeTo="RecodeWarn"/>

    <logger name="com.mirle.ibg3k0.sc.Data.TimerAction.LinkStatusCheck" level="Trace" writeTo="TraceLog_ForAlive"/>
    <logger name="com.mirle.ibg3k0.sc.Common.LogHelper" minlevel="Debug" writeTo="SystemProcessLog"/>
    <logger name="BCRReadInfo" minlevel="Info" writeTo="BCRReadInfo"/>

    <logger name="ObjectHistoricalInfo" level="Info" writeTo="ObjectHistoricalInfo"/>
    <logger name="com.mirle.ibg3k0.bcf.Schedule*" levels="Trace,Error" writeTo="Schedule" />

    <logger name="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.HIDValueDefMapAction" minlevel="Info" writeTo="HIDInfo" final="true"/>
    <logger name="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction"
            minlevel="Info"
            writeTo="PortInfo"
            final="true"/>
    <logger name="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PLCSystemInfoMapAction"
        minlevel="Info"
        writeTo="PLCSystemInfo"
        final="true"/>
    <logger name="HIDAlarm" minlevel="Info" writeTo="HIDAlarm" final="true"/>

    <logger name="MTTFMTBF_OHTC_Record" levels="Info" writeTo="MTTFMTBF_OHTC_Record" />
    <logger name="MTTFMTBF_OHT_Record" levels="Info" writeTo="MTTFMTBF_OHT_Record" />

    <logger name="CV31_A" minlevel="Info" writeTo="CV31_A" final="true" />
    <logger name="CV31_B" minlevel="Info" writeTo="CV31_B" final="true" />
    <logger name="CV32_A" minlevel="Info" writeTo="CV32_A" final="true" />
    <logger name="CV32_B" minlevel="Info" writeTo="CV32_B" final="true" />

  </rules>
</nlog>

