<ValueEventRelativeDefs>
  <ValueEventRelative name="OHxC">
    <Relative valueDefName="OHxC_Alive_W" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHxC_Alive_R" offset="0" length="1" MPLCName="EQ"/>
  </ValueEventRelative>

  <!--==========================OHCV_TO_OHTC============================-->
  <ValueEventRelative name="OHCV_TO_OHTC">
    <Relative valueDefName="DOOR_CLOSE" offset="0" length="1" startBit="0" endBit="0" MPLCName="CV31_A"/>
    <Relative valueDefName="SAFETY_CHECK_REQUEST" offset="0" length="1" startBit="1" endBit="1" MPLCName="CV31_A"/>
    <Relative valueDefName="REPLY_ROAD_CONTROL_INITIAL_NOTIFY" offset="0" length="1" startBit="2" endBit="2" MPLCName="CV31_A"/>
    <Relative valueDefName="REPLY_ROAD_CONTROL_COMPLETE_NOTIFY" offset="0" length="1" startBit="3" endBit="3" MPLCName="CV31_A"/>
    <Relative valueDefName="SAFETY_CHECK_COMPLETE" offset="0" length="1" startBit="4" endBit="4" MPLCName="CV31_A"/>
    <Relative valueDefName="OHCV_TO_OHTC_ALIVE" offset="0" length="1" startBit="5" endBit="5" MPLCName="CV31_A"/>

  </ValueEventRelative>

  <!--==========================OHTC_TO_OHCV============================-->
  <ValueEventRelative name="OHTC_TO_OHCV">
    <Relative valueDefName="ROAD_CONTROL_INITIAL_NOTIFY" offset="0" length="1" startBit="0" endBit="0" MPLCName="CV31_A"/>
    <Relative valueDefName="ROAD_CONTROL_COMPLETE_NOTIFY" offset="0" length="1" startBit="1" endBit="1" MPLCName="CV31_A"/>
    <Relative valueDefName="OHTC_TO_OHCV_ALIVE" offset="0" length="1" startBit="2" endBit="2" MPLCName="CV31_A"/>
  </ValueEventRelative>

  <ValueEventRelative name="PORT_READ">
    <Relative valueDefName="OP_RUN" offset="0" length="1" startBit="0" endBit="0" MPLCName="MPLC"/>
    <Relative valueDefName="OP_DOWN" offset="0" length="1" startBit="1" endBit="1" MPLCName="MPLC"/>
    <Relative valueDefName="OP_ERROR" offset="0" length="1" startBit="2" endBit="2" MPLCName="MPLC"/>
    <Relative valueDefName="NOW_INPUT_MODE" offset="0" length="1" startBit="3" endBit="3" MPLCName="MPLC"/>
    <Relative valueDefName="NOW_OUTPUT_MODE" offset="0" length="1" startBit="4" endBit="4" MPLCName="MPLC"/>
    <Relative valueDefName="MODE_CHANGEABLE" offset="0" length="1" startBit="5" endBit="5" MPLCName="MPLC"/>
    <Relative valueDefName="WAIT_IN" offset="0" length="1" startBit="8" endBit="8" MPLCName="MPLC"/>
    <Relative valueDefName="WAIT_OUT" offset="0" length="1" startBit="9" endBit="9" MPLCName="MPLC"/>
    <Relative valueDefName="IS_AUTO_MODE" offset="0" length="1" startBit="11" endBit="11" MPLCName="MPLC"/>
    <Relative valueDefName="READY_TO_LOAD" offset="0" length="1" startBit="12" endBit="12" MPLCName="MPLC"/>
    <Relative valueDefName="READY_TO_UNLOAD" offset="0" length="1" startBit="13" endBit="13" MPLCName="MPLC"/>
    <Relative valueDefName="IS_AGV_MODE" offset="0" length="1" startBit="14" endBit="14" MPLCName="MPLC"/>
    <Relative valueDefName="IS_MGV_MODE" offset="0" length="1" startBit="15" endBit="15" MPLCName="MPLC"/>

    <Relative valueDefName="LOAD_POSITION_1" offset="1" length="1" startBit="0" endBit="0" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_2" offset="1" length="1" startBit="1" endBit="1" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_3" offset="1" length="1" startBit="2" endBit="2" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_4" offset="1" length="1" startBit="3" endBit="3" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_5" offset="1" length="1" startBit="4" endBit="4" MPLCName="MPLC"/>
    <Relative valueDefName="IS_CST_PRESENCE" offset="1" length="1" startBit="5" endBit="5" MPLCName="MPLC"/>
    <Relative valueDefName="AGV_PORT_READY" offset="1" length="1" startBit="6" endBit="6" MPLCName="MPLC"/>
    <Relative valueDefName="CAN_OPEN_BOX" offset="1" length="1" startBit="7" endBit="7" MPLCName="MPLC"/>
    <Relative valueDefName="IS_BOX_OPEN" offset="1" length="1" startBit="8" endBit="8" MPLCName="MPLC"/>
    <Relative valueDefName="BARCODE_READ_DONE" offset="1" length="1" startBit="9" endBit="9" MPLCName="MPLC"/>
    <Relative valueDefName="CST_PRRESENCE_MISMATCH" offset="1" length="1" startBit="10" endBit="10" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_7" offset="1" length="1" startBit="11" endBit="11" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_6" offset="1" length="1" startBit="12" endBit="12" MPLCName="MPLC"/>
    <Relative valueDefName="CST_TRANSFER_COMPLETE" offset="1" length="1" startBit="14" endBit="14" MPLCName="MPLC"/>
    <Relative valueDefName="CST_REMOVE_CHECK" offset="1" length="1" startBit="15" endBit="15" MPLCName="MPLC"/>
    <Relative valueDefName="PORTALLINFO" offset="0" length="2" MPLCName="MPLC"/>
    
    <Relative valueDefName="CIM_ON" offset="3" length="1" startBit="1" endBit="1" MPLCName="MPLC"/>
    <Relative valueDefName="PreLoadOK" offset="2" length="1" startBit="1" endBit="1" MPLCName="MPLC"/>
    
    <Relative valueDefName="ERROR_CODE" offset="4" length="1" MPLCName="MPLC"/>

    <Relative valueDefName="BOX_ID" offset="41" length="7" MPLCName="MPLC"/>
    
    <Relative valueDefName="LOAD_POSITION_BOX_1" offset="6" length="7" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_BOX_2" offset="13" length="7" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_BOX_3" offset="20" length="7" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_BOX_4" offset="27" length="7" MPLCName="MPLC"/>
    <Relative valueDefName="LOAD_POSITION_BOX_5" offset="34" length="7" MPLCName="MPLC"/>

    <Relative valueDefName="FIRE_ALARM" offset="3" length="1" startBit="2" endBit="2" MPLCName="MPLC"/>
    
  </ValueEventRelative>

  <ValueEventRelative name="PORT_WRITE">
    <Relative valueDefName="FAULT_RESET" offset="0" length="1" startBit="1" endBit="1" MPLCName="MPLC"/>
    <Relative valueDefName="BUZZER_STOP" offset="0" length="1" startBit="2" endBit="2" MPLCName="MPLC"/>
    <Relative valueDefName="REMOTE_RUN" offset="0" length="1" startBit="3" endBit="3" MPLCName="MPLC"/>
    <Relative valueDefName="REMOTE_STOP" offset="0" length="1" startBit="4" endBit="4" MPLCName="MPLC"/>
    <Relative valueDefName="ID_READ_CMD" offset="0" length="1" startBit="5" endBit="5" MPLCName="MPLC"/>
    <Relative valueDefName="MOVE_BACK" offset="0" length="1" startBit="7" endBit="7" MPLCName="MPLC"/>
    <Relative valueDefName="BOX_IN_OK_MGV" offset="0" length="1" startBit="8" endBit="8" MPLCName="MPLC"/>
    <Relative valueDefName="TOGGLE_BOX_COVER" offset="0" length="1" startBit="9" endBit="9" MPLCName="MPLC"/>
    <Relative valueDefName="OPEN_DOOR_MGV" offset="0" length="1" startBit="10" endBit="10" MPLCName="MPLC"/>
    <Relative valueDefName="AREA_SENSOR_CTRL" offset="0" length="1" startBit="11" endBit="11" MPLCName="MPLC"/>
    <Relative valueDefName="CHANGE_TO_INPUT_AGV" offset="0" length="1" startBit="12" endBit="12" MPLCName="MPLC"/>
    <Relative valueDefName="CHANGE_TO_OUTPUT_AGV" offset="0" length="1" startBit="13" endBit="13" MPLCName="MPLC"/>
    <Relative valueDefName="CHANGE_TO_INPUT_MODE" offset="0" length="1" startBit="14" endBit="14" MPLCName="MPLC"/>
    <Relative valueDefName="CHANGE_TO_OUTPUT_MODE" offset="0" length="1" startBit="15" endBit="15" MPLCName="MPLC"/>

    <Relative valueDefName="VEHICLE_1_COMMANDING" offset="3" length="1" startBit="5" endBit="5" MPLCName="MPLC"/>
    <Relative valueDefName="VEHICLE_2_COMMANDING" offset="3" length="1" startBit="6" endBit="6" MPLCName="MPLC"/>
    <Relative valueDefName="VEHICLE_3_COMMANDING" offset="3" length="1" startBit="7" endBit="7" MPLCName="MPLC"/>
    <Relative valueDefName="VEHICLE_4_COMMANDING" offset="3" length="1" startBit="8" endBit="8" MPLCName="MPLC"/>
    <Relative valueDefName="VEHICLE_5_COMMANDING" offset="3" length="1" startBit="9" endBit="9" MPLCName="MPLC"/>

    <Relative valueDefName="CHANGE_TO_AGV_MODE" offset="2" length="1" startBit="8" endBit="8" MPLCName="MPLC"/>
    <Relative valueDefName="CHANGE_TO_MGV_MODE" offset="2" length="1" startBit="9" endBit="9" MPLCName="MPLC"/>
    <Relative valueDefName="BCR_ENABLE_CMD" offset="2" length="1" startBit="0" endBit="0" MPLCName="MPLC"/>
  </ValueEventRelative>

  <ValueEventRelative name="PORT_RFID_READ_RESULT">
    <Relative valueDefName="CST_ID" offset="0" length="4" MPLCName="MPLC"/>
  </ValueEventRelative>

  <ValueEventRelative name="PORT_BOX_CST_ID">
    <Relative valueDefName="ASSIGN_BOX_ID" offset="0" length="4" MPLCName="MPLC"/>
    <Relative valueDefName="ASSIGN_CST_ID" offset="4" length="4" MPLCName="MPLC"/>
  </ValueEventRelative>

  <ValueEventRelative name="SET_SYSTEM_INFO_TO_MASTER">
    <Relative valueDefName="BCD_YEAR_MONTH" offset="6" length="1" MPLCName="MPLC"/>
    <Relative valueDefName="BCD_DAY_HOUR" offset="7" length="1" MPLCName="MPLC"/>
    <Relative valueDefName="BCD_MINUTE_SECOND" offset="8" length="1" MPLCName="MPLC"/>
    <Relative valueDefName="TIME_CALIBRATION" offset="2" length="1" startBit="7" endBit="7" MPLCName="MPLC"/>
    <Relative valueDefName="PLC_HEARTBEAT" offset="2" length="1" startBit="6" endBit="6" MPLCName="MPLC"/>
    <Relative valueDefName="MCS_ONLINE" offset="2" length="1" startBit="1" endBit="1" MPLCName="MPLC"/>
  </ValueEventRelative>
  
  <!--==========================OHXC_TO_HID============================-->
  <ValueEventRelative name="HID_TO_OHXC">
    <Relative valueDefName="HID_TO_OHXC_ALIVE" offset="1" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_STATION_ID" offset="7" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HID_ID" offset="8" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_V_UNIT" offset="9" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_V_DOT" offset="10" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_A_UNIT" offset="11" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_A_DOT" offset="12" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_W_UNIT" offset="13" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_W_DOT" offset="14" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_UNIT" offset="15" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_DOT" offset="16" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_SIGMA_Hi_WORD" offset="17" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_SIGMA_Lo_WORD" offset="18" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_POSITIVE_Hi_WORD" offset="19" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_POSITIVE_Lo_WORD" offset="20" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_NEGATIVE_Hi_WORD" offset="21" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_NEGATIVE_Lo_WORD" offset="22" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_VR" offset="23" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_VS" offset="24" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_VT" offset="25" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_SIGMA_V" offset="26" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_AR" offset="27" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_AS" offset="28" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_AT" offset="29" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_SIGMA_A" offset="30" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_WR" offset="31" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_WS" offset="32" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_WT" offset="33" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_SIGMA_W" offset="34" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_TRIGGER" offset="0" length="35" MPLCName="EQ"/>
  </ValueEventRelative>

  <ValueEventRelative name="HID_TO_OHXC_AREA_B">
    <Relative valueDefName="HID_TO_OHXC_POWER_ALARM" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_TEMP_ALARM" offset="1" length="1" MPLCName="EQ"/>
  </ValueEventRelative>

  <!--==========================HID_TO_OHXC============================-->
  <ValueEventRelative name="OHXC_TO_HID">
    <Relative valueDefName="OHXC_TO_HID_ALIVE_INDEX" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_HID_CONTROL" offset="33" length="1" MPLCName="EQ"/>
  </ValueEventRelative>

  <!--==========================MTL_TO_OHBC============================-->
  <ValueEventRelative name="MTL_TO_OHBC">
    <Relative valueDefName="MTL_TRACK_CLOSED" offset="0" length="1" startBit="0" endBit="0" MPLCName="MTL"/>
  </ValueEventRelative>


</ValueEventRelativeDefs>
