<ValueDefs>
  <!-- rangeType:'W', 'B', or 'D'。B Type只接受length為1 -->
  <!-- targetType: "String", "Boolean", "UInt16", "UInt16[]", "UInt32", "UInt32[]", or "Boolean[]" -->
  <!-- actionType: "W" or "R". W=Write, R=Read -->
  <!-- baseName: 即AddressBase定義的名稱 -->
  <!-- offset: 相對於AddressBase的偏移值 -->
  <!-- length: 長度 -->
  <!-- startBit & endBit: 0~15，如果有定義此項目，則不允許跨device的情況出現，也就是length必定是1 -->
  <!-- splitLength: 指定分割長度。用於切割讀取或寫入的值。 -->



  <!--**************************************************************************************************************************-->
  <!--************************************************************Write_Word****************************************************-->
  <!--**************************************************************************************************************************-->

  <!--__________OHCV To OHTC__________-->
  <ValueDef name="DOOR_CLOSE" scenarioName="OHCV TO OHTC" desc="Door Close" rangeType="0" targetType="Boolean" actionType="R">
  </ValueDef>
  <ValueDef name="SAFETY_CHECK_REQUEST" scenarioName="OHCV TO OHTC" desc="Safety Check Request" rangeType="0" targetType="Boolean" actionType="R">
  </ValueDef>
  <ValueDef name="REPLY_ROAD_CONTROL_INITIAL_NOTIFY" scenarioName="OHCV TO OHTC" desc="Reply Road Control Initial Notify" rangeType="0" targetType="Boolean" actionType="R">
  </ValueDef>
  <ValueDef name="REPLY_ROAD_CONTROL_COMPLETE_NOTIFY" scenarioName="OHCV TO OHTC" desc="Reply Road Control Complete Notify" rangeType="0" targetType="Boolean" actionType="R">
  </ValueDef>
  <ValueDef name="SAFETY_CHECK_COMPLETE" scenarioName="OHCV TO OHTC" desc="Safety Check Complete" rangeType="0" targetType="Boolean" actionType="R">
  </ValueDef>
  <ValueDef name="OHCV_TO_OHTC_ALIVE" scenarioName="OHCV TO OHTC" desc="Alive" rangeType="0" targetType="Boolean" actionType="R">
  </ValueDef>

  <!--__________OHTC To OHCV__________-->
  <ValueDef name="ROAD_CONTROL_INITIAL_NOTIFY" scenarioName="OHTC TO OHCV" desc="Road Control Initial Notify" rangeType="0" targetType="Boolean" actionType="W" />
  <ValueDef name="ROAD_CONTROL_COMPLETE_NOTIFY" scenarioName="OHTC TO OHCV" desc="Road Control Complete Notify" rangeType="0" targetType="Boolean" actionType="W" />
  <ValueDef name="OHTC_TO_OHCV_ALIVE" scenarioName="OHTC TO OHCV" desc="Alive" rangeType="0" targetType="Boolean" actionType="W" />

  <!--OHTC port-->
  <ValueDef name="OP_RUN" scenarioName="OP_AUTO_MODE" desc="OP_AUTO_MODE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="OP_DOWN" scenarioName="OP_MANUAL_MODE" desc="OP_MANUAL_MODE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="OP_ERROR" scenarioName="OP_ERROR" desc="OP_ERROR" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="NOW_INPUT_MODE" scenarioName="NOW_INPUT_MODE" desc="NOW_INPUT_MODE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="NOW_OUTPUT_MODE" scenarioName="NOW_OUTPUT_MODE" desc="NOW_OUTPUT_MODE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="MODE_CHANGEABLE" scenarioName="MODE_CHANGEABLE" desc="MODE_CHANGEABLE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="WAIT_IN" scenarioName="WAIT_IN" desc="WAIT_IN" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="WAIT_OUT" scenarioName="WAIT_OUT" desc="WAIT_OUT" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="IS_AUTO_MODE" scenarioName="IS_AUTO_MODE" desc="IS_AUTO_MODE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="READY_TO_LOAD" scenarioName="LOAD_OK" desc="LOAD_OK" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="READY_TO_UNLOAD" scenarioName="UNLOAD_OK" desc="UNLOAD_OK" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="IS_AGV_MODE" scenarioName="IS_AGV_MODE" desc="IS_AGV_MODE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="IS_MGV_MODE" scenarioName="IS_MGV_MODE" desc="IS_MGV_MODE" rangeType="D" targetType="Boolean" actionType="R" />

  <ValueDef name="CIM_ON" scenarioName="CIM_ON" desc="CIM_ON" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="PreLoadOK" scenarioName="PreLoadOK" desc="PreLoadOK" rangeType="D" targetType="Boolean" actionType="R" />
  
  <ValueDef name="LOAD_POSITION_1" scenarioName="LOAD_POSITION_1" desc="LOAD_POSITION_1" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="LOAD_POSITION_2" scenarioName="LOAD_POSITION_2" desc="LOAD_POSITION_2" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="LOAD_POSITION_3" scenarioName="LOAD_POSITION_3" desc="LOAD_POSITION_3" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="LOAD_POSITION_4" scenarioName="LOAD_POSITION_4" desc="LOAD_POSITION_4" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="LOAD_POSITION_5" scenarioName="LOAD_POSITION_5" desc="LOAD_POSITION_5" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="IS_CST_PRESENCE" scenarioName="IS_CST_PRESENCE" desc="IS_CST_PRESENCE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="AGV_PORT_READY" scenarioName="AGV_PORT_READY" desc="AGV_PORT_READY" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="CAN_OPEN_BOX" scenarioName="CAN_OPEN_BOX" desc="CAN_OPEN_BOX" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="IS_BOX_OPEN" scenarioName="IS_BOX_OPEN" desc="IS_BOX_OPEN" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="BARCODE_READ_DONE" scenarioName="BARCODE_READ_DONE" desc="BARCODE_READ_DONE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="CST_PRRESENCE_MISMATCH" scenarioName="CST_PRRESENCE_MISMATCH" desc="CST_PRRESENCE_MISMATCH" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="LOAD_POSITION_7" scenarioName="LOAD_POSITION_7" desc="LOAD_POSITION_7" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="LOAD_POSITION_6" scenarioName="LOAD_POSITION_6" desc="LOAD_POSITION_6" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="CST_TRANSFER_COMPLETE" scenarioName="CST_TRANSFER_COMPLETE" desc="CST_TRANSFER_COMPLETE" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="CST_REMOVE_CHECK" scenarioName="CST_REMOVE_CHECK" desc="CST_REMOVE_CHECK" rangeType="D" targetType="Boolean" actionType="R" />
  <ValueDef name="PORTALLINFO" scenarioName="PORTALLINFO" desc="PORTALLINFO" rangeType="D" targetType="UInt16" actionType="R" />

  <ValueDef name="ERROR_CODE" scenarioName="ERROR_CODE" desc="ERROR_CODE" rangeType="D" targetType="UInt16" actionType="R" />

  <ValueDef name="BOX_ID" scenarioName="BOX_ID" desc="BOX_ID" rangeType="D" targetType="String" actionType="R" />

  <ValueDef name="LOAD_POSITION_BOX_1" scenarioName="LOAD_POSITION_BOX_1" desc="LOAD_POSITION_BOX_1" rangeType="D" targetType="String" actionType="R" />
  <ValueDef name="LOAD_POSITION_BOX_2" scenarioName="LOAD_POSITION_BOX_2" desc="LOAD_POSITION_BOX_2" rangeType="D" targetType="String" actionType="R" />
  <ValueDef name="LOAD_POSITION_BOX_3" scenarioName="LOAD_POSITION_BOX_3" desc="LOAD_POSITION_BOX_3" rangeType="D" targetType="String" actionType="R" />
  <ValueDef name="LOAD_POSITION_BOX_4" scenarioName="LOAD_POSITION_BOX_4" desc="LOAD_POSITION_BOX_4" rangeType="D" targetType="String" actionType="R" />
  <ValueDef name="LOAD_POSITION_BOX_5" scenarioName="LOAD_POSITION_BOX_5" desc="LOAD_POSITION_BOX_5" rangeType="D" targetType="String" actionType="R" />
  
  <ValueDef name="FIRE_ALARM" scenarioName="FIRE_ALARM" desc="FIRE_ALARM" rangeType="D" targetType="Boolean" actionType="R" />
  
  <ValueDef name="FAULT_RESET" scenarioName="FAULT_RESET" desc="FAULT_RESET" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="BUZZER_STOP" scenarioName="BUZZER_STOP" desc="BUZZER_STOP" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="REMOTE_RUN" scenarioName="REMOTE_RUN" desc="REMOTE_RUN" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="REMOTE_STOP" scenarioName="REMOTE_STOP" desc="REMOTE_STOP" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="ID_READ_CMD" scenarioName="ID_READ_CMD" desc="ID_READ_CMD" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="MOVE_BACK" scenarioName="MOVE_BACK" desc="MOVE_BACK" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="BOX_IN_OK_MGV" scenarioName="BOX_IN_OK_MGV" desc="BOX_IN_OK_MGV" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="TOGGLE_BOX_COVER" scenarioName="TOGGLE_BOX_COVER" desc="TOGGLE_BOX_COVER" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="OPEN_DOOR_MGV" scenarioName="OPEN_DOOR_MGV" desc="OPEN_DOOR_MGV" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="AREA_SENSOR_CTRL" scenarioName="AREA_SENSOR_CTRL" desc="AREA_SENSOR_CTRL" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="CHANGE_TO_INPUT_AGV" scenarioName="CHANGE_TO_MGV_MODE" desc="CHANGE_TO_MGV_MODE" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="CHANGE_TO_OUTPUT_AGV" scenarioName="CHANGE_TO_AGV_MODE" desc="CHANGE_TO_AGV_MODE" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="CHANGE_TO_INPUT_MODE" scenarioName="CHANGE_TO_INPUT_MODE" desc="CHANGE_TO_INPUT_MODE" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="CHANGE_TO_OUTPUT_MODE" scenarioName="CHANGE_TO_OUTPUT_MODE" desc="CHANGE_TO_OUTPUT_MODE" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="VEHICLE_1_COMMANDING" scenarioName="VEHICLE_1_COMMANDING" desc="VEHICLE_1_COMMANDING" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="VEHICLE_2_COMMANDING" scenarioName="VEHICLE_2_COMMANDING" desc="VEHICLE_2_COMMANDING" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="VEHICLE_3_COMMANDING" scenarioName="VEHICLE_3_COMMANDING" desc="VEHICLE_3_COMMANDING" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="VEHICLE_4_COMMANDING" scenarioName="VEHICLE_4_COMMANDING" desc="VEHICLE_4_COMMANDING" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="VEHICLE_5_COMMANDING" scenarioName="VEHICLE_5_COMMANDING" desc="VEHICLE_5_COMMANDING" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="CHANGE_TO_AGV_MODE" scenarioName="CHANGE_TO_AGV_MODE" desc="CHANGE_TO_AGV_MODE" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="CHANGE_TO_MGV_MODE" scenarioName="CHANGE_TO_MGV_MODE" desc="CHANGE_TO_MGV_MODE" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="BCR_ENABLE_CMD" scenarioName="BCR_ENABLE_CMD" desc="BCR_ENABLE_CMD" rangeType="D" targetType="Boolean" actionType="W" />
  
  <ValueDef name="CST_ID" scenarioName="CST_ID" desc="CST_ID" rangeType="D" targetType="String" actionType="R" />

  <ValueDef name="ASSIGN_BOX_ID" scenarioName="ASSIGN_BOX_ID" desc="ASSIGN_BOX_ID" rangeType="D" targetType="String" actionType="W" />
  <ValueDef name="ASSIGN_CST_ID" scenarioName="ASSIGN_CST_ID" desc="ASSIGN_CST_ID" rangeType="D" targetType="String" actionType="W" />
  
  <!--__________Set system info__________-->
  <ValueDef name="BCD_YEAR_MONTH" scenarioName="BCD_YEAR_MONTH" desc="BCD_YEAR" rangeType="D" targetType="UInt16" actionType="W" />
  <ValueDef name="BCD_DAY_HOUR" scenarioName="BCD_DAY_HOUR" desc="BCD_DAY_HOUR" rangeType="D" targetType="UInt16" actionType="W" />
  <ValueDef name="BCD_MINUTE_SECOND" scenarioName="BCD_MINUTE_SECOND" desc="BCD_MINUTE_SECOND" rangeType="D" targetType="UInt16" actionType="W" />
  <ValueDef name="TIME_CALIBRATION" scenarioName="PLC_HEARTBEAT" desc="PLC_HEARTBEAT" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="PLC_HEARTBEAT" scenarioName="PLC_HEARTBEAT" desc="PLC_HEARTBEAT" rangeType="D" targetType="Boolean" actionType="W" />
  <ValueDef name="MCS_ONLINE" scenarioName="MCS_ONLINE" desc="MCS_ONLINE" rangeType="D" targetType="Boolean" actionType="W" />


  <!--__________OHxC To HID__________-->
  <ValueDef name="HID_TO_OHXC_ALIVE" scenarioName="HID Charge Info" desc="Alive" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_STATION_ID" scenarioName="HID Charge Info" desc="Station ID" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_HID_ID" scenarioName="HID Charge Info" desc="HID ID" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_V_UNIT" scenarioName="HID Charge Info" desc="V Unit" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_V_DOT" scenarioName="HID Charge Info" desc="V Dot" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_A_UNIT" scenarioName="HID Charge Info" desc="A Unit" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_A_DOT" scenarioName="HID Charge Info" desc="A Dot" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_W_UNIT" scenarioName="HID Charge Info" desc="W Unit" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_W_DOT" scenarioName="HID Charge Info" desc="W Dot" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_HOUR_UNIT" scenarioName="HID Charge Info" desc="Hour Unit" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_HOUR_DOT" scenarioName="HID Charge Info" desc="Hour Dot" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_HOUR_SIGMA_Hi_WORD" scenarioName="HID Charge Info" desc="Hour Sigma High Word " rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_HOUR_SIGMA_Lo_WORD" scenarioName="HID Charge Info" desc="Hour Sigma Low Word " rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_HOUR_POSITIVE_Hi_WORD" scenarioName="HID Charge Info" desc="Hour Positive High Word " rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_HOUR_POSITIVE_Lo_WORD" scenarioName="HID Charge Info" desc="Hour Positive Low Word " rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_HOUR_NEGATIVE_Hi_WORD" scenarioName="HID Charge Info" desc="Hour Negative High Word " rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_HOUR_NEGATIVE_Lo_WORD" scenarioName="HID Charge Info" desc="Hour Negative Low Word " rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_VR" scenarioName="HID Charge Info" desc="VR" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_VS" scenarioName="HID Charge Info" desc="VS" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_VT" scenarioName="HID Charge Info" desc="VT" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_SIGMA_V" scenarioName="HID Charge Info" desc="Sigma V" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_AR" scenarioName="HID Charge Info" desc="AR" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_AS" scenarioName="HID Charge Info" desc="AS" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_AT" scenarioName="HID Charge Info" desc="AT" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_SIGMA_A" scenarioName="HID Charge Info" desc="Sigma A" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_WR" scenarioName="HID Charge Info" desc="WR" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_WS" scenarioName="HID Charge Info" desc="WS" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_WT" scenarioName="HID Charge Info" desc="WT" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_SIGMA_W" scenarioName="HID Charge Info" desc="Sigma W" rangeType="4" targetType="UInt16" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_TRIGGER" scenarioName="HID Charge Info" desc="Data Trigger" rangeType="4" targetType="UInt16[]" actionType="R">
  </ValueDef>

  <!--__________Bit Area__________-->
  <ValueDef name="HID_TO_OHXC_POWER_ALARM" scenarioName="HID BIT AREA" desc="Power Alarm" rangeType="0" targetType="Boolean" actionType="R">
  </ValueDef>
  <ValueDef name="HID_TO_OHXC_TEMP_ALARM" scenarioName="HID BIT AREA" desc="Temp Alarm" rangeType="0" targetType="Boolean" actionType="R">
  </ValueDef>



  <!--__________HID To OHxC__________-->
  <ValueDef name="OHXC_TO_HID_ALIVE_INDEX" scenarioName="OHXC_TO_HID_ALIVE_INDEX" desc="OHXC_TO_HID_ALIVE_INDEX" rangeType="4" targetType="UInt16" actionType="W">
  </ValueDef>
  <ValueDef name="OHXC_TO_HID_CONTROL" scenarioName="OHxC To HID Control" desc="ON/OFF" rangeType="4" targetType="Boolean" actionType="W">
  </ValueDef>

  <!--__________MTL To OHBC__________-->
  <ValueDef name="MTL_TRACK_CLOSED" scenarioName="MTL TO OHBC" desc="MTL Track closed" rangeType="0" targetType="Boolean" actionType="R">
  </ValueDef>

</ValueDefs>
